<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>LERNOVATION</title>
    <script src="https://kit.fontawesome.com/f5db63554f.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/common/css/nav.css">
    <link rel="stylesheet" href="/common/css/error.css">
    <!-- jQUery -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>
<body>
    <nav th:replace="~{common/nav.html :: nav}"></nav>
    <div class="error-container">
        <img th:src="@{/common/image/404error.png}">
        <h1>PAGE NOT FOUND!</h1>
        <h2>찾으시는 페이지가 존재하지 않습니다.</h2>
        <h3>주소를 잘못 입력했거나, 페이지가 이동됐을 수 있습니다.</h3>
        <button onclick="location.href='/'">돌아가기</button>
    </div>
    <script src="/common/js/nav.js"></script>
</body>
</html>