<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/f5db63554f.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../static/common/css/nav.css/">
    <head>
<body>
    <div th:fragment="nav">
      <nav>
        <div class="nav-content">
          <ul>
            <li><img src='' alt=''><a href="/">Learnovation</a></li>
            <li>
              <div class="a-nav-course-box" id="aNavCourse">
                <a href='#' id="navCourse">강의</a>
                <div class="a-nav-course-hidden" id="aNavCourseHidden"></div>
                <div class="a-nav-course-modal" id="aNavCourseModal">
                  <div class="a-nav-course-modal-diamond"></div>
                  <div class="a-nav-course-modal-list">
                    <a href="#">프론트엔드</a>
                    <a href="#">백엔드</a>
                    <a href="#">보안</a>
                    <a href="#">네트워크</a>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="a-nav-community-box" id="aNavCommunity">
                <a href='#' id="navComu">커뮤니티</a>
                <div class="a-nav-community-hidden" id="aNavCommuninyHidden"></div>
                <div class="a-nav-community-modal" id="aNavCommunityModal">
                  <div class="a-nav-community-modal-diamond"></div>
                  <div class="a-nav-community-modal-list">
                    <a href="#">질문 게시판</a>
                    <a href="/freeBoard/">자유 게시판</a>
                  </div>
                </div>
              </div>
            </li>
            <li><a href='/explore/list'>직업정보</a></li>
            <li><a href='/notice/list'>공지사항</a></li>
            <li>
              <div class="search-box">
                <form action='/notice/list' method="get" class="search-form">
                  <input type='text' placeholder='검색' class='nav-search' name="keyword">
                  </input>
                  <label for="navSearch">
                      <i class="fa-solid fa-magnifying-glass search-glass"></i>
                  </label>
                  <input type="submit" class="search-btn" id="navSearch">
                </form>
              </div>
            </li>
            <li>
              <div class='mode-box' id="modeBox">
              <i class="fa-solid fa-moon fa-lg moon"></i>
              <i class="fa-solid fa-sun fa-lg sun"></i>
              <div class='mode-btn' id="mode-button"></div>
              </div>
            </li>
            <li>
              <!-- dto 던져서 체크-->
                  <div th:if="${#authentication.principal == 'anonymousUser'}" class="nav-content-box">
                    <a href="/auth/loginForm"><button class='btn'>Login</button></a>
                    <a href="/auth/joinForm"><button class='btn'>회원가입</button></a>
                  </div>
                  <div th:if="${#authentication.principal != 'anonymousUser'}" class="nav-login-icons">
                    <div id="userIconBox" class="user-icon-box">
                  <span>
                    <a id="userIcon" href="">
                      <i class="fas fa-user fa-lg"></i>
                    </a>
                  </span>
                      <div class="user-hidden" id="userHidden">
                      </div>
                      <div class="info-modal" id="infoModal">
                        <div class="user-diamond"></div>
                        <div class="modal-user-info">
                      <span>
                        <a class="modal-nickname" href="">닉네임님</a>
                        <a class="modal-alarm" href=""><i class="fa-solid fa-bell bell"></i></a>
                      </span>
                        </div>
                        <div class="modal-user-list">
                          <span><a href=""><i class="fa-solid fa-book books"></i>&#32;내 강의실</a></span>
                          <span><a href=""><i class="fa-solid fa-heart heart"></i>&#32;좋아요</a></span>
                          <span><a href=""><i class="fa-solid fa-clipboard clipboard"></i>&#32;내가 쓴 게시글</a></span>
                          <span><a th:href="@{/logout}"><i class="fa-solid fa-right-from-bracket"></i>&#32;로그아웃</a></span>
                        </div>
                      </div>
                    </div>
                    <div class="cart-icon-box" id="cartIconBox">
                  <span id="cartIcon">
                    <a href="">
                      <i class="fa-solid fa-cart-shopping fa-lg"></i>
                    </a>
                  </span>
                      <div class="cart-hidden" id="cartHidden"></div>
                      <div class="nav-cart-modal" id="navCartModal">
                        <div class="cart-diamond"></div>
                        <div class="padding-modal">
                          <div class="modal-cart-info">
                            <div class="modal-cart-info-left">
                              <span>수강바구니 </span>
                              <span>1</span>
                            </div>
                            <div class="modal-cart-info-right">
                              <span>총 결제금액 </span>
                              <span>1,000,000</span>
                              <span>원</span>
                            </div>
                          </div>
                          <div class="modal-cart-list">
                            <div class="nav-course-box">
                              <div class="nav-course-thumbnail">
                                <img class="nav-course-img" src="" alt="">
                              </div>
                              <div class="nav-course-content">
                                <span>제목제목제목제목</span>
                                <span>100,000 원</span>
                              </div>
                            </div>
                            <div class="nav-course-box">
                              <div class="nav-course-thumbnail">
                                <img class="nav-course-img" src="" alt="">
                              </div>
                              <div class="nav-course-content">
                                <span>제목제목제목제목</span>
                                <span>100,000 원</span>
                              </div>
                            </div>
                            <div class="nav-course-box">
                              <div class="nav-course-thumbnail">
                                <img class="nav-course-img" src="" alt="">
                              </div>
                              <div class="nav-course-content">
                                <span>제목제목제목제목</span>
                                <span>100,000 원</span>
                              </div>
                            </div>
                          </div>
                          <div class="modal-cart-btn">
                            <a href="">수강바구니에서 전체보기</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
            </li>
          </ul>
        </div>
      </nav>
      <div class="nav-block"></div>
      <!-- 챗봇 버튼 -->
      <div class="chat-bot-box">
        <img th:src="@{/common/image/chatbot.png}" alt="">
        <h4>HELP</h4>
      </div>
      <!-- 챗봇 모달창 -->
      <div class="chat-bot-modal">
        <div class="chat-bot-modal-header">
          <img th:src="@{/common/image/logo.png}" alt="">
          <span class="chat-bot-modal-header-name">Learnovation</span>
          <span id="chat-bot-close-btn" class="chat-bot-modal-header-close">×</span>
        </div>
        <!-- 챗봇 모달창 (안내 메시지) -->
        <div class="chat-bot-modal-notice">
          <p>반갑습니다. <b>러노베이션</b>입니다. 👋</p><br>
          <p><b>📌 1:1 문의 운영 시간 안내</b></p>
          <p> - 평일 : 10:00 ~ 18:00</p>
          <p> - 점심 : 13:00 ~ 14:00</p>
          <p>주말, 공휴일은 휴무입니다.</p><br>
          <p>
            접수된 순서대로 답변을 드리고 있어요.<br>
            그러나, 문의량이 많을 경우 상담연결까지 지연될 수 있다는 점 양해 부탁드립니다. 😢
          </p><br>
          <p><b>챗봇 상담은 24시간 이용 가능합니다. 😊</b></p>
        </div>
        <!-- 챗봇 모달창 (액션 버튼) -->
        <button class="chat-bot-modal-qna">자주 묻는 질문</button>
        <button id="startChat" class="chat-bot-modal-start">🚀 문의 시작하기</button>
        <!-- 챗봇 모달창 (채팅 시작) -->
        <div class="chat-bot-modal-chatting">
          <div class="chat-bot-modal-chatting-receive">
            <img class="chat-bot-modal-chatting-receiverImg" th:src="@{/common/image/logo.png}" alt="">
            <div class="chat-bot-modal-chatting-receiverMsg">
              <th:block th:if="${#authentication.principal == 'anonymousUser'}">
                <p>안녕하세요!</p>
                <p class="userId" th:data-id="0" th:data-name="'비회원'">아직 러노베이션 가족이 아니네요. 😢</p>
                <p>지금 바로 <b>회원가입</b>을 하신 후에</p>
                <p>러노베이션의 <b>다양한 혜택과 소식</b>을</p>
                <p>받아보세요. 🤩</p>
                <button class="chat-bot-modal-chatting-btn" th:onclick="window.open('/auth/joinForm')">바로 회원가입 하기</button>
              </th:block>
              <th:block th:if="${#authentication.principal != 'anonymousUser'}">
                <p class="userId" th:utext="'안녕하세요 ! <b>' + ${#authentication.principal.name} + '</b>님'" th:data-id="${#authentication.principal.id}" th:data-name="${#authentication.principal.name}"></p>
                <p><b>🎁 이달의 이벤트 소식이 도착했어요.</b></p>
                <button class="chat-bot-modal-chatting-btn" th:onclick="window.open('/notice/list')">소식 보러 가기</button>
              </th:block>
              <p><b>[챗봇 이용 방법]</b></p>
              <p>- 원하는 서비스를 직접 요청해보세요!</p>
              <p>- 예를 들어, 상담원 연결이 필요하면 <b>"상담받고 싶어"</b> 또는 <b>"상담원을 연결해줘"</b>라 말해보세요!</p>
            </div>
          </div>
        </div>
        <div class="chat-bot-modal-chatting-input">
<!--          <textarea name="" id="chatbotMsg"></textarea>-->
          <input type="text" name="" id="chatbotMsg">
          <i class="fa-regular fa-face-smile chat-bot-modal-chatting-emojiIcon" style="color: #9f9e9e;"></i>
          <i class="fa-solid fa-paper-plane chat-bot-modal-chatting-sendIcon" style="color: #0090F0;"></i>
        </div>
      </div>
    </div>

    <script src="../../static/common/js/nav.js"/>
</body>
</html>