main{
    width: 1400px;
    margin: 0 auto;
}
.hidden-div{
    display: none;
}
.freeBoard-theme-box{
    margin : 50px 0px;
    position: relative;
    height: 60px;
}
.freeBoard-theme-content{
    width: 80px;
    text-align: center;
    background-color: white;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 100px;
}
.freeBoard-theme-content a{
    color: #0090F0;
    text-decoration: none;
}
.freeBoard-theme-content a:hover{
    color: #037dce;
}
.freeBoard-theme-line{
    top: 18px;
    position: absolute;
    z-index: 1;
    width: 1400px;
}
.freeBoard-info-box{
    margin-bottom: 40px;
}
.freeBoard-info-btn{
    float: right;
    height: 50px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.freeBoard-info-btn a{
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    text-decoration: none;
}
.blue{
    background-color: #0090F0;
}
.sky{
    background-color: rgb(133, 204, 252);
}
.freeBoard-info-btn a:hover{
    background-color: #037dce;
}
freeBoard-info-content{
    float: left;
}
.freeBoard-nickname{
    font-size: 20px;
    font-weight: bold;
}
.freeBoard-detail-title{
    border-top: 1px solid darkgray;
    border-bottom: 1px solid darkgray;
}
.freeBoard-detail-title p{
    margin : 0;
    margin: 15px 0;
    font-size: 32px;
    font-weight: bold;
}
.freeBoard-detail-content{
    border-bottom: 1px solid darkgray;
}
.freeBoard-detail-content img{
    padding: 20px 0;
    max-width: 1400px;
}
.index-btn{
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    background-color: #0090F0;
}
.index-btn:hover{
    background-color: #037dce;
}
.index-btn-area{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.remove-modal-box{
    width: 100%;
    height: 100%;
    position: relative;
    display: none;
}
.remove-modal-bg{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: black;
    opacity: 0.5;
    width: 100%;
    height: 100%;
}
.remove-modal{
    padding: 30px 100px;
    position: fixed;
    top: 0;
    margin: calc((100vh - 200px)/2) calc((100vw - 400px)/2);
    z-index: 101;
    width: 200px;
    height: 50px;
    background-color: white;
    border-radius: 10px;
    opacity: 1;
    text-align: center;
}
.freeBoard-modal-btn{
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}
.freeBoard-modal-btn a{
    background-color: #0090F0;
    color: white;
    padding: 3px 10px;
    border-radius: 5px;
    text-decoration: none;
}



.freeBoard-reply-container{
    margin-top: 40px;
}
.freeBoard-reply-input-box{
    width: 1400px;
    border: 1px solid darkgray;
    border-radius: 10px;
    height: 180px;
}
.reply-input{
    border : 1px solid darkgray;
    border-radius: 10px;
    height: 60px;
    width: 1200px;
    margin: 20px 100px;
    resize: none;
}
.reply-modify{
    border : 1px solid darkgray;
    border-radius: 10px;
    height: 60px;
    width: 1400px;
    resize: none;
}
.reply-modify-btn{
    background-color: #0090F0;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    margin-top: 20px;
    color: white;
    margin-left: 1330px;
}
.reply-input:focus{
    outline: none;
}
.reply-btn{
    text-align: start;
    float: right;
    margin-right: 90px;
    background-color: #0090F0;
    color: white;
    font-weight: 900;
    border: none;
    border-radius: 10px;
    padding: 10px 35px
}
.reply-btn:hover{
    background-color: rgb(133, 204, 252);
}
.freeBoard-reply-box{
    width: 1400px;
    margin: 50px 0px;
    padding-bottom: 50px;
    border-bottom: 1px solid darkgray;
    display: none;
}
.freeBoard-reply-subject{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.freeBoard-reply-title{
    position: relative;
    width: 400px;
    display: flex;
    flex-direction: column;
    height: 50px;
    justify-content: space-around;
}
.nickname-link{
    width: fit-content;
}
.nicknamebox{
    width: fit-content;
}
.freeBoard-reply-title > a {
    text-decoration: none;
    color: black;
}
.freeBoard-reply-title > a > span{
    font-weight: 900;
}
.freeBoard-reply-title > span{
    font-size: small;
}
.freeBoard-reply-btn{
    margin-top: 5px;
}
.freeBoard-reply-btn > button{
    margin-left: 10px;
    padding: 5px 15px;
    border: none;
    border-radius: 10px;
    color : white;
}
.freeBoard-reply-btn > button:hover{
    background-color: #037dce;
}
.blue{
    background-color: #0090F0;
}
.sky{
    background-color: rgb(133, 204, 252);
}
.freeBoard-reply-content{
    margin-top: 10px;
    width: 1400px;
    display: flex;
    flex-direction: column;
    align-items: start;
}
.group-invite-modal{
    position: absolute;
    top: 5px;
    padding: 10px;
    text-align: center;
    border: 1px solid darkgray;
    background-color: white;
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
}
.group-invite-modal select{
    width: 100px;

}
.group-invite-modal button{
    margin-top: 20px;
    background-color: #0090F0;
    padding: 5px 15px;
    border: none;
    border-radius: 10px;
    color : white;
}


.freeBoard-info-content {
    display: flex;
    align-items: center;
}

.freeBoard-profile {
    margin-right: 10px;
}

.freeBoard-profile img {
    width: 50px;
    height: 50px;
}

.freeBoard-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.freeBoard-profile-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
}

.freeBoard-nickname {
    font-size: 1.2rem;
    font-weight: bold;
    width: 100%;
}

.freeBoard-heart {
    display: flex;
    align-items: center;
    width: 100%;
}

.freeBoard-heart img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.countLike {
    margin-right: 10px;
}

.freeBoard-info-stats {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.freeBoard-hit {
    display: flex;
    align-items: center;
}

.countHits {
    margin-left: 5px;
    margin-right: 10px;
}

.freeBoard-subject {
    font-size: 0.8rem;
}

.timeDiff {
    font-size: 0.8rem;
}
/*
신고기능 css
*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border-radius: 20px; /* 모달창을 동그랗게 만듦 */
    width: 60%; /* 모달의 너비를 60%로 조정 */
    max-width: 600px; /* 모달의 최대 너비를 600px로 제한 */
    text-align: center; /* 신고 내용을 가운데 정렬 */
    position: relative; /* 상대적 위치 설정 */
    top: 50%; /* 상단 위치를 50%로 지정 */
    transform: translateY(-50%); /* 모달창을 수직 방향으로 중앙에 위치시킴 */
}

.close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    position: absolute; /* 절대적 위치 설정 */
    top: 10px; /* 모달창 상단에서 10px 아래 */
    right: 10px; /* 모달창 우측에서 10px 왼쪽 */
    cursor: pointer;
}

.report {
    background-color: #eee;
    color: #333;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    position: absolute; /* 절대적 위치 설정 */
    top: 10px; /* 모달창 상단에서 10px 아래 */
    left: 50%; /* 모달창 중앙 */
    transform: translateX(-50%); /* 가로 방향으로 중앙에 위치시킴 */
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
}

 #reportModal textarea {
    width: 100%;
    height: 100px; /* textarea의 높이를 100px로 조정 */
    resize: none; /* 사용자가 크기를 조정할 수 없도록 함 */
    margin-top: 20px; /* 신고 내용 위쪽 여백을 설정 */
}