main{
    width: 1400px;
    margin: 0 auto;
}
.freeBoard-theme-box{
    margin : 50px 0px;
    position: relative;
    height: 60px;
}
.freeBoard-theme-content{
    width: 80px;
    text-align: center;
    background-color: white;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 100px;
}
.freeBoard-theme-content a{
    color: #0090F0;
    text-decoration: none;
}
.freeBoard-theme-content a:hover{
    color: #037dce;
}
.freeBoard-theme-line{
    top: 18px;
    position: absolute;
    z-index: 1;
    width: 1400px;
}
.freeBoard-info-box{
    margin-bottom: 40px;
}
.freeBoard-info-btn{
    float: right;
    height: 50px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.freeBoard-info-btn a{
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    text-decoration: none;
}
.blue{
    background-color: #0090F0;
}
.sky{
    background-color: rgb(133, 204, 252);
}
.freeBoard-info-btn a:hover{
    background-color: #037dce;
}
freeBoard-info-content{
    float: left;
}
.freeBoard-nickname{
    font-size: 20px;
    font-weight: bold;
}
.freeBoard-detail-title{
    border-top: 1px solid darkgray;
    border-bottom: 1px solid darkgray;
}
.freeBoard-detail-title p{
    margin : 0;
    margin: 15px 0;
    font-size: 32px;
    font-weight: bold;
}
.freeBoard-detail-content{
    border-bottom: 1px solid darkgray;
}
.freeBoard-detail-content img{
    padding: 20px 0;
    max-width: 1400px;
}
.index-btn{
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    background-color: #0090F0;
}
.index-btn:hover{
    background-color: #037dce;
}
.index-btn-area{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.remove-modal-box{
    width: 100%;
    height: 100%;
    position: relative;
    display: none;
}
.remove-modal-bg{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: black;
    opacity: 0.5;
    width: 100%;
    height: 100%;
}
.remove-modal{
    padding: 30px 100px;
    position: fixed;
    top: 0;
    margin: calc((100vh - 200px)/2) calc((100vw - 400px)/2);
    z-index: 101;
    width: 200px;
    height: 50px;
    background-color: white;
    border-radius: 10px;
    opacity: 1;
    text-align: center;
}
.freeBoard-modal-btn{
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}
.freeBoard-modal-btn a{
    background-color: #0090F0;
    color: white;
    padding: 3px 10px;
    border-radius: 5px;
    text-decoration: none;
}
#comment-write{
    width : 1400px;
    height: 300px;
    border: solid 1px #A9A9A9;
    border-radius: 30px;

}
.comment-write-content-box{
    padding-left: 200px;
    padding-top: 30px;

}
.comment-write-btn-box input{
    width : 35px;
    height: 18px;
    font-size: 15px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #0090F0;
    color : white;
    text-decoration: none;
    border: none;
    box-sizing: content-box;
    margin: 0 30px;
}

/* ==========================================
/          메인 - 수강후기                    /
==========================================*/
#review{
    margin-top: 60px;
}
.my-review{
    margin: 20px 0px 70px 0px;
    width: 960px;
    height: 100%;
    background-color: white;
    padding: 20px;
}
/* display none 클래스 */
.none {
    display: none;
}
/* 작성된 리뷰가 없을 때 메시지 */
.no-review{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}
.do-write{
    margin-top: 20px;
    cursor: pointer;
}
/* 리뷰 작성폼 */
.input-review{
    display: flex;
}
.input-review textarea{
    width: 700px;
    height: 100px;
    resize: none;
    border: 1px solid #d3d3d3;
    padding: 10px;
    font-size: 100%;
}
.input-review textarea:focus{
    outline: none;
}
.right-aside{
    display: flex;
    width: 260px;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.review-area{
    background-color: white;
}
/* 나의 별점css */
.my-rating {
    position: relative;
    font-size: 150%;
    color: #ddd;
}
.my-rating span{
    width: 0%;
    position: absolute;
    left: 0;
    color: #FFC807;
    overflow: hidden;
    pointer-events: none;
}

.rating{
    position: relative;
    top: -25px;
}
.right-aside-btn{
    display: flex;
    justify-content: center;
}
.write{
    border: none;
    background-color: #0090F0;
    font-size: 90%;
    color: white;
    border-radius: 5px;
    padding: 4px 8px 4px 8px;
    cursor: pointer;
    margin-right: 20px;
}
.cancel{
    border: 1px solid #0090F0;
    background-color: white;
    font-size: 90%;
    padding: 4px 8px 4px 8px;
    border-radius: 5px;
    cursor: pointer;
}
/* 리뷰 존재 시, 나의 리뷰 css */
.review-user{
    display: flex;
}
.user-logo{
    width: 40px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 50%;
    margin: 0px 10px 10px 0px;
}
.user-info{
    display: flex;
    flex-direction: column;
}
.nickname{
    color: #929292;
    font-weight: bolder;
}
.review-date{
    color: #7a7a7a;
    font-size: 85%;
}
.review-controller{
    position: relative;
    top: 20px;
    font-size: 90%;
}
#reviewUpdate{
    cursor: pointer;
}
#reviewUpdate:hover{
    color: deepskyblue;
}

#reviewDelete{
    cursor: pointer;
}
#reviewDelete:hover{
    color: deepskyblue;
}

