<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<button onclick="saveReq()">글작성</button>

<table>
  <tr>
    <th>id</th>
    <th>title</th>
    <th>writer</th>
    <th>date</th>
    <th>hits</th>
  </tr>
  <tr th:each="freeBoard: ${list}">
    <td th:text="${freeBoard.id}"></td>
    <td><a th:href="@{|/freeBoard/${freeBoard.id}|(page=${list.number + 1})}" th:text="${freeBoard.freeBoardTitle}"></a></td>
    <td th:text="${freeBoard.boardWriter}"></td>
    <td th:text="*{#temporals.format(freeBoard.freeBoardCreatedTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
    <td th:text="${freeBoard.freeBoardHits}"></td>
  </tr>
</table>
<!-- 첫번째 페이지로 이동 -->
<!-- /board/paging?page=1 -->
<a th:href="@{/freeBoard/paging(page=1)}">First</a>
<!-- 이전 링크 활성화 비활성화 -->
<!-- boardList.getNumber() 사용자:2페이지 getNumber()=1 -->
<a th:href="${list.first} ? '#' : @{/freeBoard/paging(page=${list.number})}">prev</a>

<!-- 페이지 번호 링크(현재 페이지는 숫자만)
        for(int page=startPage; page<=endPage; page++)-->
<span th:each="page: ${#numbers.sequence(startPage, endPage)}">
<!-- 현재페이지는 링크 없이 숫자만 -->
    <span th:if="${page == list.number + 1}" th:text="${page}"></span>
  <!-- 현재페이지 번호가 아닌 다른 페이지번호에는 링크를 보여줌 -->
    <span th:unless="${page == list.number + 1}">
        <a th:href="@{/freeBoard/paging(page=${page})}" th:text="${page}"></a>
    </span>
</span>

<!-- 다음 링크 활성화 비활성화
    사용자: 2페이지, getNumber: 1, 3페이지-->
<a th:href="${list.last} ? '#' : @{/freeBoard/paging(page=${list.number + 2})}">next</a>
<!-- 마지막 페이지로 이동 -->
<a th:href="@{/freeBoard/paging(page=${list.totalPages})}">Last</a>

</body>

<script>
  const saveReq = () => {
    location.href = "/freeBoard/save";
  }

</script>
</html>