<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원 관리</title>
    <!--구글폰트 API-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/admin/usermanagement.css}">
</head>
<body>
    <div class="side-nav">
        <header>Learnnovation</header>
        <ul>
            <a href="#" class="active">
                <li class="nav-li">
                    <span class="menu">🙋‍♂️ 회원관리</span>
                </li>
            </a>
            <a href="#">
                <li class="nav-li">
                    <span class="menu">게시판 관리(드롭다운ㄱㄱ)</span>
                </li>
            </a>
            <a href="#">
                <li class="nav-li">
                    <span class="menu">📢 신고 관리</span>
                </li>
            </a>
            <a href="#">
                <li class="nav-li">
                    <!-- <img src="/learning.png" alt="" style="width: 30px; height: 30px;"> -->
                    <span class="menu">📺 강의 등록</span>
                </li>
            </a>
            <a href="#">
                <li class="nav-li">
                    <span class="menu">apps</span>
                </li>
            </a>
            <a href="#">
                <li class="nav-li">
                    <span class="menu">event</span>
                </li>
            </a>
            <a href="#">
                <li class="nav-li">
                    <span class="menu">settings</span>
                </li>
            </a>
        </ul>
    </div>
    <div class="main">
        <div id="workspace">
            <div id="title">회원목록</div>

            <form action="" method="post" id="search-area">
                <input type="text" id="search-value" name="searchValue" placeholder="검색">
                <button type="submit" id="search-btn">검색</button>
            </form>

            <div id="list-area">
                <table class="type10">
                    <thead>
                    <tr>
                        <th scope="cols">ㅇ</th>
                        <th scope="cols">회원번호</th>
                        <th scope="cols">아이디</th>
                        <th scope="cols">이름</th>
                        <th scope="cols">가입날짜</th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="user : ${userList}">
                        <th scope="row">ㅇ</th>
                        <td th:text="${user.id}"></td>
                        <td th:text="${user.email}"></td>
                        <td th:text="${user.name}"></td>
                        <td th:text="${user.createdAt}"></td>
                        <td>상세/수정</td>
                        <td>
                            <form id="delete-form" th:action="@{'/admin/' + ${user.id}}" method="post">
                                <input type="hidden" name="_method" value="delete"/>
                                <button id="delete-btn">삭제</button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
<script>

    // 체크박스 선택 후 삭제 버튼 클릭시 이벤트
    function folderDeleteClick(){
        var checkBoxArr = [];
        $("input:checkbox[name='folderCheckname']:checked").each(function() {
            checkBoxArr.push($(this).val());     // 체크된 것만 값을 뽑아서 배열에 push
            console.log(checkBoxArr);
        })

        $.ajax({
            type  : "POST",
            url    : "<c:url value='/folderDelete.do'/>",
            data: {
                checkBoxArr : checkBoxArr        // folder seq 값을 가지고 있음.
            },
            success: function(result){
                console.log(result);
            },
            error: function(xhr, status, error) {
                alert(error);
            }
        });
    }
</script>
</body>
</html>