<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>직업정보 목록</title>
    <script src="https://kit.fontawesome.com/f5db63554f.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/common/css/nav.css">
    <link rel="stylesheet" href="/explore/css/list.css">
</head>
<body>
    <nav th:replace="~{common/nav.html :: nav}"></nav>
    <main>
        <div class="job-recommand">
            <div class="recommand">
                <h1>내게 맞는 직업을 찾아보세요</h1>
                <h2>개발자부터 프로덕트 매니저, 마케터까지</h2>
                <h2>IT 취업에 특화된 직업을 소개합니다.</h2>
            </div>
            <div class="explore-top-nav-content">
                <a th:if="${page > 1}" th:href="@{/explore/list(page=${page - 1})}"><i class="fa-solid fa-arrow-left"></i></a>
                <a th:if="${page <= 1}" th:href="@{/explore/list(page=1)}"><i class="fa-solid fa-arrow-left"></i></a>
                <span th:text="${page}"></span>
                <span> / </span>
                <span th:text="${totalPage}"></span>
                <a th:if="${page < totalPage}" th:href="@{/explore/list(page=${page + 1})}"><i class="fa-solid fa-arrow-right"></i></a>
                <a th:if="${page >= totalPage}" th:href="@{/explore/list(page=${totalPage})}"><i class="fa-solid fa-arrow-right"></i></a>
            </div>
            <div class="recommand-list-box">
                <a th:each="job : ${jList}" href="#" class="job-category-link">
                    <div class="job-category">
                        <div>
                            <h1 th:text="${job.getJobName()}"></h1>
                            <h2 th:text="${job.getWork()}"></h2>
                            <span class="recommand-detail">더 알아보기 </span>
                        </div>
                        <div class="job-subject">
                            <div><span>평균연봉</span><span class="job-subject-icon"><i class="fa-solid fa-coins"></i></span><span th:text="${job.getSalary()}"></span></div>
                            <div><span>사회공헌</span><span class="job-subject-icon"><i class="fa-solid fa-handshake-angle"></i></span><span th:text="${job.getSocial()}"></span></div>
                            <div><span>워라밸</span><span class="job-subject-icon"><i class="fa-solid fa-scale-balanced"></i></span><span th:text="${job.getWorkLifeBalance()}"></span></div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="explore-bottom-nav">
            <a href="/explore/list?page=1" class="explore-bottom-nav-prev">처음으로</a>
            <div class="explore-bottom-nav-content">
                <a th:if="${page > 1}" th:href="@{/explore/list(page=${page - 1})}">&lt;</a>
                <a th:if="${page <= 1}" th:href="@{/explore/list(page=1)}">&lt;</a>
                <a th:each="nav : ${navCount}" th:href="@{/explore/list(page=${nav})}">
                    <span th:if="${page == nav}" class="explore-nav-check" th:text="${nav}"></span>
                    <span th:if="${page != nav}" th:text="${nav}"></span>
                </a>
                <a th:if="${page < totalPage}" th:href="@{/explore/list(page=${page + 1})}">&gt;</a>
                <a th:if="${page >= totalPage}" th:href="@{/explore/list(page=${totalPage})}">&gt;</a>
            </div>
            <a th:href="@{/explore/list(page=${totalPage})}" class="explore-bottom-nav-next">마지막으로</a>
        </div>
    </main>
    <script src="/common/js/nav.js"></script>
</body>
</html>