<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>상세보기</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/f5db63554f.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/common/css/nav.css">
    <link rel="stylesheet" href="/freeBoard/css/detail.css">
</head>
<body>
<nav th:replace="~{common/nav.html :: nav}"></nav>
<main>
    <div class="hidden-div" th:if="${#authentication.principal != 'anonymousUser'}">
        <input id="userNo" type="hidden" th:value="${#authentication.principal.id}">
    </div>
    <div class="freeBoard-theme-box">
        <div class="freeBoard-theme-content"><a href="/freeBoard/list"><p>자유게시판</p></a></div>
        <div class="freeBoard-theme-line"><hr></div>
    </div>
    <div class="freeBoard-info-box">
        <div th:if="${#authentication.principal != 'anonymousUser'}">
            <div class="freeBoard-info-btn" th:if="${#authentication.principal.getId() == freeBoard.userId || #authentication.principal.Authorities.get(0).Authority == 'ROLE_ADMIN'}">
                <a class="blue" th:href="@{|/freeBoard/modify/${freeBoard.id}|}">수정</a>
                <a href="" class="sky" id="freeBoardRemoveBtn">삭제</a>
            </div>
        </div>
        <div class="freeBoard-info-content">
            <div class="freeBoard-profile">
                <img th:src="@{/freeBoard/img/user-logo.png}" alt="Profile Image">
            </div>
            <div class="freeBoard-info">
                <div class="freeBoard-profile-info">
                    <div class="freeBoard-nickname">
                        <span th:text="${freeBoard.nickname}"></span>
                    </div>
                <div class="freeBoard-heart">
                    <img th:if="${result == 1}" th:src="@{/freeBoard/img/red-heart-logo.png}" th:data-freeboardid="${freeBoard.id}" alt="" >
                    <img th:if="${result == 0}" th:src="@{/freeBoard/img/black-heart-logo.png}" th:data-freeboardid="${freeBoard.id}" alt="" >
                    <span class="countLike" th:text="${countLike}" th:data-likes="${countLike}"></span>
                </div>
                    <div class="freeBoard-info-stats">
                        <div class="freeBoard-hit">
                            <i class="far fa-eye"></i>
                            <span class="countHits" th:text="${freeBoard.freeBoardHits}"></span>
                        </div>
                        <div class="freeBoard-subject">
                            <span id="time" class="timeDiff" th:text="${freeBoard.freeBoardCreatedTime}"></span>
                        </div>
                        <div class="freeBoard-report">
                            <i class="fas fa-exclamation-triangle" th:onclick="openReportModal()"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
    <div class="freeBoard-detail-title" id="freeBoardTitle" th:data-freeboardno="${freeBoard.id}">
        <p th:text="${freeBoard.freeBoardTitle}"></p>
    </div>
    <div class="freeBoard-detail-content" th:utext="${freeBoard.freeBoardContents}"></div>
    <div class="freeBoard-reply-container">
        <div class="freeBoard-reply-input-box">
            <textarea id="replyInput" cols="30" rows="10" class="reply-input"></textarea>
            <button id="replyWrite"class="reply-btn">작성</button>
        </div>
        <div id="freeBoardReplyList">

        </div>
        <div class="freeBoard-reply-box" id="freeBoardReplyBox">
            <div class="freeBoard-reply-subject">
                <div class="freeBoard-reply-title">
                    <a href="#" class="nickname-link"><div class="nicknamebox"><span class="replyNickname">닉네임</span></div></a>
                    <span class="replyDate">2023-05-07 21:58:56.0</span>
                </div>
                <div class="freeBoard-reply-btn">
                    <button class="blue" onclick="modifyBtn(this)">수정</button>
                    <button class="sky" onclick="deleteBtn(this)">삭제</button>
                </div>
            </div>
            <div class="freeBoard-reply-content replyContent">
                ㅇㄴㅁㅁㅁㅁㅁㅁㅁㅇㄴㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㄴㅇㄴㅁㅇㄴㅁㅁㅁㅁㅁㅁㅁㅇㄴㅁㅁㅁㅇㄴㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㄴㅇㄴㅁㅇㄴㅁㅁㅁㅁㅁㅁㅁㅇㄴㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㄴㅇㄴㅁㅇㄴㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㄴㅇㄴㅁㅇㄴㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㄴㅇㄴㅁㅇㄴㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㄴㅇㄴㅁㅇㄴㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㄴㅇㄴㅁㅇㄴㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㄴㅇㄴㅁㅇㄴㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㄴㅇㄴㅁ
            </div>
        </div>
    </div>
    <div class="group-invite-modal" id="groupModal">
        <h2>그룹 초대</h2>
        <select id="groupSelect">
            <option value="">1</option>
            <option value="">2</option>
            <option value="">3</option>
        </select>
        <button id="groupInviteBtn">초대하기</button>
    </div>
    <div class="index-btn-area">
        <a class="index-btn" th:if="${keyword == null}" th:href="@{/freeBoard/list(page=${page})}">목록으로</a>
        <a class="index-btn" th:if="${keyword != null}" th:href="@{/freeBoard/list(page=${page},keyword=${keyword})}">목록으로</a>
    </div>

</main>
<div class="remove-modal-box" id="removeModalBox">
    <div class="remove-modal-bg" id="removeModalBg"></div>
    <div class="remove-modal">
        <div>
            <span>정말 삭제하시겠습니까?</span>
        </div>
        <div class="freeBoard-modal-btn">
            <a th:href="@{/freeBoard/delete(freeBoardId=${freeBoard.getId()})}">삭제</a>
            <a href="#" id="modalInClose">취소</a>
        </div>
    </div>
</div>
<div id="reportModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>신고하기</h2>
        <p>신고 사유를 선택해주세요.</p>
        <select id="reportReason">
            <option value="욕설">욕설</option>
            <option value="성적 수치심">성적 수치심</option>
            <option value="인신공격">인신공격</option>
            <option value="기타">기타</option>
        </select>
        <p>신고 내용을 입력해주세요.</p>
        <textarea id="reportContent"></textarea>
        <button onclick="submitReport()">신고 완료</button>
    </div>
</div>
<script src="/common/js/nav.js"></script>
<script>
    if(document.getElementById('freeBoardRemoveBtn') != null){
        document.getElementById('freeBoardRemoveBtn').addEventListener('click', function(e){
            e.preventDefault();
            document.querySelector('body').style.overflow = 'hidden';
            document.getElementById("removeModalBox").style.display = 'block';
        })

        document.getElementById("modalInClose").addEventListener('click',function(e){
            e.preventDefault();
            e.stopPropagation();
            modalClose();
        })

        document.getElementById("removeModalBg").addEventListener('click', function(e){
            e.stopPropagation();
            modalClose();
        });

        function modalClose(){
            document.querySelector('body').style.overflow = 'scroll';
            document.getElementById("removeModalBox").style.display = 'none';
        }
    }

    // 신고 기능
    function openReportModal() {
        document.getElementById("reportModal").style.display = "block";
    }
    document.querySelector(".close").addEventListener("click", function() {
        document.getElementById("reportModal").style.display = "none";
    });
    function submitReport() {
        const reportReason = document.getElementById("reportReason").value;
        const reportContent = document.getElementById("reportContent").value;
        const curUserNo = document.getElementById("userNo");
        const freeBoardNo = document.getElementById('freeBoardTitle').dataset.freeboardno;
        document.getElementById("reportModal").style.display = "none";
        document.querySelector("button").disabled = true;
        if(reportContent != "" && curUserNo != null){
            $.ajax({
                data : {reportContent : reportContent, reportReason : reportReason, curUserNo:curUserNo, freeBoardNo:freeBoardNo },
                type : "GET",
                url : "/report/write",
                success : function(data){
                    if(data == "success"){
                        alert(`신고가 접수되었습니다`);
                    }
                },error : function(data){
                    console.log(data);
                    alert("신고 실패")
                }
            })
        }else{
            alert("로그인 해주세요...")
        }
    }






    // 댓글
    document.querySelector('body').addEventListener('click', function(){
        groupModal.style.display = 'none';
        this.append(groupModal);
    })



    // 현재 시간과의 차이를 계산하여 텍스트로 반환하는 함수
    function getTimeDiffString(datetime) {
        const now = new Date();
        const date = new Date(datetime);
        const diff = now - date;

        const sec = Math.floor(diff / 1000);
        const min = Math.floor(sec / 60);
        const hour = Math.floor(min / 60);
        const day = Math.floor(hour / 24);

        if (day > 0) {
            return `${day}일 전`;
        } else if (hour > 0) {
            return `${hour}시간 전`;
        } else if (min > 0) {
            return `${min}분 전`;
        } else {
            return '방금 전';
        }
    }
        const timeElem = document.getElementById('time');
        const datetime = timeElem.innerText;
        timeElem.innerText = getTimeDiffString(datetime);
    // 종아요
    $('.freeBoard-heart').each(function() {
        let likes = parseInt($(this).data('likes')); // 현재 좋아요 개수
        if (likes === 0) {
            $(this).children('img').attr('src', '/freeBoard/image/black-heart-logo.png'); // 검은 하트 이미지로 변경
        }
    });

    $(document).ready(function() {
        $('.freeBoard-heart').click(function() {
            let freeBoardId = $(this).find('img').data('freeboardid'); // 클릭한 게시글의 아이디
            let likes = parseInt($(this).find('span').data('likes')); // 현재 좋아요 개수

            $.ajax({
                type: "POST",
                url: "/like/check",
                data: {
                    freeBoardId: freeBoardId,
                },
                success: function(data) {
                    if (data === "liked") {
                        likes += 1; // 좋아요 개수 1 증가
                        if (likes > 0) {
                            $('.freeBoard-heart').children('img').attr('src', '/freeBoard/img/red-heart-logo.png'); // 빨간 하트 이미지로 변경
                        }
                    } else if (data === "unliked") {
                        likes -= 1; // 좋아요 개수 1 감소
                        $('.freeBoard-heart').children('img').attr('src', '/freeBoard/img/black-heart-logo.png'); // 검은 하트 이미지로 변경
                        if (likes === 0) {
                            $('.freeBoard-heart').children('img').attr('src', '/freeBoard/img/black-heart-logo.png'); // 검은 하트 이미지로 변경
                        }
                    }else {
                        alert("로그인 해라.");
                    }
                    $('.countLike').data('likes', likes); // 데이터 속성 업데이트
                    $('.countLike').text(likes); // 데이터 속성 업데이트
                },error: function (err) {
                    alert("Ajax Failed!!");
                }

            });
        });
    });


    function getCommentList(){
        let freeBoardNo = document.getElementById('freeBoardTitle').dataset.freeboardno;
        $.ajax({
            data : {freeBoardNo : freeBoardNo},
            type : "POST",
            url : "/comment/list",
            success : function(data){
                let cList = JSON.parse(data);
                let replyList = document.getElementById("freeBoardReplyList");
                replyList.innerHTML = "";
                for(let i = 0; i < cList.length; i++){
                    let freeBoardReplyBox = document.getElementById('freeBoardReplyBox').cloneNode(true);
                    freeBoardReplyBox.dataset.id = cList[i].id;
                    freeBoardReplyBox.querySelector(".replyNickname").innerHTML = cList[i].user.nickname;
                    freeBoardReplyBox.querySelector(".replyContent").innerHTML = cList[i].commentContents;
                    freeBoardReplyBox.querySelector(".replyDate").innerHTML = getTimeDiffString(cList[i].createdAt);
                    freeBoardReplyBox.dataset.userid = cList[i].user.id;
                    freeBoardReplyBox.style.display = "block";
                    replyList.append(freeBoardReplyBox);
                }
            },error : function(data){
                console.log(data);
            }
        })
    }
    /////버튼 이벤트

    //댓글 작성
    document.getElementById('replyWrite').addEventListener('click', function(e){
        e.preventDefault();
        let content = document.getElementById('replyInput').value;
        let freeBoardNo = document.getElementById('freeBoardTitle').dataset.freeboardno;
        let curUserNo = document.getElementById("userNo");
        if(content != "" && curUserNo != null){
            $.ajax({
                data : {content : content, freeBoardNo : freeBoardNo},
                type : "POST",
                url : "/comment/insert",
                success : function(data){
                    alert("댓글 작성 완료!!");
                    document.getElementById('replyInput').value = "";
                    getCommentList();
                },error : function(data){
                    console.log(data);
                }
            })
        }else{
            alert("로그인 해주세요...")
        }
    })
    //댓글 수정
    function modifyBtn(btn){
        let replyBox = btn.parentElement.parentElement.parentElement;
        let userNo = replyBox.dataset.userid;
        let curUserNo = document.getElementById("userNo");
        if(curUserNo != null){
            if(userNo == curUserNo.value){
                let contentBox = replyBox.querySelector(".freeBoard-reply-content");
                let modiBtn = replyBox.querySelector(".blue");
                if(contentBox.firstElementChild == null){
                    let values = contentBox.innerText;
                    let textArea = document.createElement("textarea");
                    let submitBtn = document.createElement("button");
                    submitBtn.innerHTML = "작성";
                    submitBtn.className = "reply-modify-btn"
                    submitBtn.setAttribute("onclick", "submitModify(this)")
                    textArea.value = values;
                    textArea.className = "reply-modify";
                    contentBox.innerHTML = "";
                    contentBox.append(textArea);
                    contentBox.append(submitBtn);
                    contentBox.dataset.content = values;
                    modiBtn.innerText = "취소";
                }else{
                    contentBox.innerHTML = contentBox.dataset.content;
                    modiBtn.innerText = "수정";
                }
            }else{
                alert("권한없음");
            }
        }else{
            alert("권한없음")
        }

    }
    //댓글 삭제
    function deleteBtn(btn){
        let replyBox = btn.parentElement.parentElement.parentElement;
        let id = replyBox.dataset.id;
        let userId = replyBox.dataset.userid;
        $.ajax({
            data : {id : id, userId : userId},
            type : "GET",
            url : "/comment/delete",
            success : function(data){
                if(data == "success"){
                    getCommentList();
                }else if(data == "noPermission"){
                    alert("권한없음");
                }
            },error : function(data){
                console.log(data);
            }
        })
    }

    //수정댓글 제출
    function submitModify(btn){
        let replyBox = btn.parentElement.parentElement;
        let id = replyBox.dataset.id;
        let userId = replyBox.dataset.userid;
        let content = replyBox.querySelector(".reply-modify").value;
        $.ajax({
            data : {id : id, userId : userId, content : content},
            type : "POST",
            url : "/comment/modify",
            success : function(data){
                if(data == "success"){
                    getCommentList();
                }else if(data == "noPermission"){
                    alert("권한없음");
                }
            },error : function(data){
                console.log(data);
            }
        })
    }
    getCommentList();
</script>
</body>
</html>