<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>상세보기</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/f5db63554f.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/common/css/nav.css">
    <link rel="stylesheet" href="/freeBoard/css/detail.css">
</head>
<body>
<nav th:replace="~{common/nav.html :: nav}"></nav>
<main>
    <div class="hidden-div" th:if="${#authentication.principal != 'anonymousUser'}">
        <input id="userNo" type="hidden" th:value="${#authentication.principal.id}">
    </div>
    <div class="freeBoard-theme-box">
        <div class="freeBoard-theme-content"><a href="/freeBoard/list"><p>자유게시판</p></a></div>
        <div class="freeBoard-theme-line"><hr></div>
    </div>
    <div class="freeBoard-info-box">
        <div th:if="${#authentication.principal != 'anonymousUser'}">
            <div class="freeBoard-info-btn" th:if="${#authentication.principal.getId() == freeBoard.userId || #authentication.principal.Authorities.get(0).Authority == 'ROLE_ADMIN'}">
                <a class="blue" th:href="@{|/freeBoard/modify/${freeBoard.id}|}">수정</a>
                <a href="" class="sky" id="freeBoardRemoveBtn">삭제</a>
            </div>
        </div>
        <div class="freeBoard-info-content">
            <div class="freeBoard-nickname">
                <span th:text="${freeBoard.nickname}"></span>
            </div>
            <div class="freeBoard-subject">
                <span th:text="${freeBoard.freeBoardCreatedTime}"></span>
            </div>
        </div>
    </div>
    <div class="freeBoard-detail-title" id="freeBoardTitle" th:data-freeBoardNo="${freeBoard.id}">
        <p th:text="${freeBoard.freeBoardTitle}"></p>
    </div>
    <div class="freeBoard-detail-content" th:utext="${freeBoard.freeBoardContents}"></div>
    <div class="freeBoard-reply-container">
        <div class="freeBoard-reply-input-box">
            <textarea id="replyInput" cols="30" rows="10" class="reply-input"></textarea>
            <button id="replyWrite"class="reply-btn">작성</button>
        </div>
        <div id="freeBoardReplyList">

        </div>
        <div class="freeBoard-reply-box" id="freeBoardReplyBox">
            <div class="freeBoard-reply-subject">
                <div class="freeBoard-reply-title">
                    <a href="#" class="nickname-link"onclick="switchModal(this)"><div class="nicknamebox"><span class="replyNickname">닉네임</span></div></a>
                    <span class="replyDate">2023-05-07 21:58:56.0</span>
                </div>
                <div class="freeBoard-reply-btn">
                    <button class="blue" onclick="modifyBtn(this)">수정</button>
                    <button class="sky" onclick="deleteBtn(this)">삭제</button>
                </div>
            </div>
            <div class="freeBoard-reply-content replyContent">
                ㅇㄴㅁㅁㅁㅁㅁㅁㅁㅇㄴㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㄴㅇㄴㅁㅇㄴㅁㅁㅁㅁㅁㅁㅁㅇㄴㅁㅁㅁㅇㄴㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㄴㅇㄴㅁㅇㄴㅁㅁㅁㅁㅁㅁㅁㅇㄴㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㄴㅇㄴㅁㅇㄴㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㄴㅇㄴㅁㅇㄴㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㄴㅇㄴㅁㅇㄴㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㄴㅇㄴㅁㅇㄴㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㄴㅇㄴㅁㅇㄴㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㄴㅇㄴㅁㅇㄴㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㄴㅇㄴㅁ
            </div>
        </div>
    </div>
    <div class="group-invite-modal" id="groupModal">
        <h2>그룹 초대</h2>
        <select id="groupSelect">
            <option value="">1</option>
            <option value="">2</option>
            <option value="">3</option>
        </select>
        <button id="groupInviteBtn">초대하기</button>
    </div>
    <div class="index-btn-area">
        <a class="index-btn" th:if="${keyword == null}" th:href="@{/freeBoard/list(page=${page})}">목록으로</a>
        <a class="index-btn" th:if="${keyword != null}" th:href="@{/freeBoard/list(page=${page},keyword=${keyword})}">목록으로</a>
    </div>

</main>
<div class="remove-modal-box" id="removeModalBox">
    <div class="remove-modal-bg" id="removeModalBg"></div>
    <div class="remove-modal">
        <div>
            <span>정말 삭제하시겠습니까?</span>
        </div>
        <div class="freeBoard-modal-btn">
            <a th:href="@{/freeBoard/delete(freeBoardId=${freeBoard.getId()})}">삭제</a>
            <a href="#" id="modalInClose">취소</a>
        </div>
    </div>
</div>
<script src="/common/js/nav.js"></script>
<script>
    if(document.getElementById('freeBoardRemoveBtn') != null){
        document.getElementById('freeBoardRemoveBtn').addEventListener('click', function(e){
            e.preventDefault();
            document.querySelector('body').style.overflow = 'hidden';
            document.getElementById("removeModalBox").style.display = 'block';
        })

        document.getElementById("modalInClose").addEventListener('click',function(e){
            e.preventDefault();
            e.stopPropagation();
            modalClose();
        })

        document.getElementById("removeModalBg").addEventListener('click', function(e){
            e.stopPropagation();
            modalClose();
        });

        function modalClose(){
            document.querySelector('body').style.overflow = 'scroll';
            document.getElementById("removeModalBox").style.display = 'none';
        }
    }
    // 댓글
    document.querySelector('body').addEventListener('click', function(){
        groupModal.style.display = 'none';
        this.append(groupModal);
    })
    const groupModal = document.getElementById('groupModal');
    function switchModal(btn){
        window.event.preventDefault();
        window.event.stopPropagation();
        if(document.getElementById("userNo") != null){
            let curUserNo = document.getElementById("userNo").value;
            let titleBox = btn.parentElement;
            let writeUserNo = titleBox.parentElement.parentElement.dataset.userid;
            if(curUserNo != writeUserNo){
                let span = btn.firstElementChild;
                let left = span.clientWidth;
                groupModal.style.left = (left + 10) +'px';
                if(titleBox.lastElementChild == groupModal){
                    titleBox.after(groupModal);
                    groupModal.style.display = "none";
                }else{
                    groupModal.style.display = "block";
                    let selectBox = document.getElementById('groupSelect')
                    selectBox.innerHTML = "";
                    $.ajax({
                        data : {userNo : curUserNo},
                        type : "GET",
                        url : "/freeBoard/list",
                        success : function(data) {
                            if(data != "fail") {
                                let mList = JSON.parse(data);
                                for (let i = 0; i < mList.length; i++) {
                                    let option = document.createElement("option");
                                    option.innerText = mList[i].name;
                                    option.setAttribute("value", mList[i].id);
                                    selectBox.append(option);
                                }
                            }
                        },error : function (data){

                        }
                    });
                    titleBox.append(groupModal);
                }
            }else{
                alert("자기가 쓴 댓글입니다.");
            }
        }
    }
    groupModal.addEventListener("click", function(e){
        e.stopPropagation();
    })

    function getCommentList(){
        let freeBoardNo = document.getElementById('freeBoardTitle').dataset.freeBoardNo;
        $.ajax({
            data : {freeBoardNo : freeBoardNo},
            type : "POST",
            url : "/comment/list",
            success : function(data){
                let cList = JSON.parse(data);
                let replyList = document.getElementById("freeBoardReplyList");
                replyList.innerHTML = "";
                for(let i = 0; i < cList.length; i++){
                    let freeBoardReplyBox = document.getElementById('freeBoardReplyBox').cloneNode(true);
                    freeBoardReplyBox.dataset.id = cList[i].id;
                    freeBoardReplyBox.querySelector(".replyNickname").innerHTML = cList[i].user.nickname;
                    freeBoardReplyBox.querySelector(".replyContent").innerHTML = cList[i].content;
                    freeBoardReplyBox.querySelector(".replyDate").innerHTML = cList[i].createdAt;
                    freeBoardReplyBox.dataset.userid = cList[i].user.id;
                    freeBoardReplyBox.style.display = "block";
                    replyList.append(freeBoardReplyBox);
                }
            },error : function(data){
                console.log(data);
            }
        })
    }
    /////버튼 이벤트

    //댓글 작성
    document.getElementById('replyWrite').addEventListener('click', function(e){
        e.preventDefault();
        let content = document.getElementById('replyInput').value;
        let freeBoardNo = document.getElementById('freeBoardTitle').dataset.freeBoardNo;
        let curUserNo = document.getElementById("userNo");
        if(content != "" && curUserNo != null){
            $.ajax({
                data : {content : content, freeBoardNo : freeBoardNo},
                type : "POST",
                url : "/comment/insert",
                success : function(data){
                    alert("댓글 작성 완료!!");
                    document.getElementById('replyInput').value = "";
                    getCommentList();
                },error : function(data){
                    console.log(data);
                }
            })
        }else{
            alert("로그인 해주세요...")
        }
    })
    //댓글 수정
    function modifyBtn(btn){
        let replyBox = btn.parentElement.parentElement.parentElement;
        let userNo = replyBox.dataset.userid;
        let curUserNo = document.getElementById("userNo");
        if(curUserNo != null){
            if(userNo == curUserNo.value){
                let contentBox = replyBox.querySelector(".freeBoard-reply-content");
                let modiBtn = replyBox.querySelector(".blue");
                if(contentBox.firstElementChild == null){
                    let values = contentBox.innerText;
                    let textArea = document.createElement("textarea");
                    let submitBtn = document.createElement("button");
                    submitBtn.innerHTML = "작성";
                    submitBtn.className = "reply-modify-btn"
                    submitBtn.setAttribute("onclick", "submitModify(this)")
                    textArea.value = values;
                    textArea.className = "reply-modify";
                    contentBox.innerHTML = "";
                    contentBox.append(textArea);
                    contentBox.append(submitBtn);
                    contentBox.dataset.content = values;
                    modiBtn.innerText = "취소";
                }else{
                    contentBox.innerHTML = contentBox.dataset.content;
                    modiBtn.innerText = "수정";
                }
            }else{
                alert("권한없음");
            }
        }else{
            alert("권한없음")
        }

    }
    //댓글 삭제
    function deleteBtn(btn){
        let replyBox = btn.parentElement.parentElement.parentElement;
        let id = replyBox.dataset.id;
        let userId = replyBox.dataset.userid;
        $.ajax({
            data : {id : id, userId : userId},
            type : "GET",
            url : "/comment/delete",
            success : function(data){
                if(data == "success"){
                    getCommentList();
                }else if(data == "noPermission"){
                    alert("권한없음");
                }
            },error : function(data){
                console.log(data);
            }
        })
    }

    //수정댓글 제출
    function submitModify(btn){
        let replyBox = btn.parentElement.parentElement;
        let id = replyBox.dataset.id;
        let userId = replyBox.dataset.userid;
        let content = replyBox.querySelector(".reply-modify").value;
        $.ajax({
            data : {id : id, userId : userId, content : content},
            type : "POST",
            url : "/comment/modify",
            success : function(data){
                if(data == "success"){
                    getCommentList();
                }else if(data == "noPermission"){
                    alert("권한없음");
                }
            },error : function(data){
                console.log(data);
            }
        })
    }
    getCommentList();
</script>
</body>
</html>