<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>자유게시판 목록</title>
  <script src="https://kit.fontawesome.com/f5db63554f.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/common/css/nav.css">
  <link rel="stylesheet" href="/freeBoard/css/list.css">
</head>
<body>
<nav th:replace="~{common/nav.html :: nav}"></nav>
<main>
  <div class="freeBoard-title-box">
    <a class="reset-a" href="/freeBoard/list"><p class="board-title">커뮤니티</p></a>
    <p>다양한 사람을 만나고 생각의 폭을 넓혀보세요.</p>
  </div>
  <div class="write-btn-box">
    <a href="/freeBoard/write" class="freeBoard-write-btn"><i class="fa-solid fa-pencil"></i>&#32;글 쓰기</a>
  </div>
  <div class="freeBoard-list-box">
    <div class="freeBoard-top-nav">
      <div class="freeBoard-search-box">
        <form action='/freeBoard/list' method="get" class="freeBoard-search-form">
          <input type='text' name="searchKeyword" placeholder='커뮤니티 내에서 검색' class='nav-search'>
          <label for="freeBoardSearch">
            <i class="fa-solid fa-magnifying-glass search-glass"></i>
          </label>
          <input type="submit" class="search-btn" id="freeBoardSearch">
        </form>
      </div>
      <div class="freeBoard-top-nav-content">
        <a th:if="${page > 1 && keyword != null}" th:href="@{/freeBoard/list(page=${page - 1},searchKeyword=${keyword})}"><i class="fa-solid fa-arrow-left"></i></a>
        <a th:if="${page <= 1 && keyword != null}" th:href="@{/freeBoard/list(page=1,searchKeyword=${keyword})}"><i class="fa-solid fa-arrow-left"></i></a>
        <a th:if="${page > 1 && keyword == null}" th:href="@{/freeBoard/list(page=${page - 1})}"><i class="fa-solid fa-arrow-left"></i></a>
        <a th:if="${page <= 1 && keyword == null}" th:href="@{/freeBoard/list(page=1)}"><i class="fa-solid fa-arrow-left"></i></a>

        <span th:text="${page}"></span>
        <span>/</span>
        <span th:text="${freeBoardDTOList.totalPages}"></span>

        <a th:if="${page < freeBoardDTOList.totalPages && keyword == null}" th:href="@{/freeBoard/list(page=${page + 1})}"><i class="fa-solid fa-arrow-right"></i></a>
        <a th:if="${page >= freeBoardDTOList.totalPages && keyword == null}" th:href="@{/freeBoard/list(page=${freeBoardDTOList.totalPages})}"><i class="fa-solid fa-arrow-right"></i></a>
        <a th:if="${page < freeBoardDTOList.totalPages && keyword != null}" th:href="@{/freeBoard/list(page=${page + 1},searchKeyword=${keyword})}"><i class="fa-solid fa-arrow-right"></i></a>
        <a th:if="${page >= freeBoardDTOList.totalPages && keyword != null}" th:href="@{/freeBoard/list(page=${freeBoardDTOList.totalPages},searchKeyword=${keyword})}"><i class="fa-solid fa-arrow-right"></i></a>
      </div>
    </div>
    <div th:each="freeBoard : ${freeBoardDTOList}" class="freeBoard-content-box">
      <div>
        <span>작성자 : </span>
        <span th:text="${freeBoard.getNickname()}"></span>
        <span>수정 일 : </span>
        <span th:text="${freeBoard.getFreeBoardCreatedTime()}"></span>
      </div>
      <div>
        <a th:if="${keyword == null}" th:href="@{|/freeBoard/detail/${freeBoard.id}|(page=${page})}"><span th:text="${freeBoard.getFreeBoardTitle()}"></span></a>
        <a th:if="${keyword != null}" th:href="@{|/freeBoard/detail/${freeBoard.id}|(page=${page},searchKeyword=${keyword})}"><span th:text="${freeBoard.getFreeBoardTitle()}"></span></a>
      </div>
     </div>
        <div th:if="${keyword== null}">
        <div class="freeBoard-bottom-nav">
            <a th:href="@{/freeBoard/paging(page=1)}" class="freeBoard-bottom-nav-prev">처음으로</a>
        <div class="freeBoard-bottom-nav-content">
            <a th:href="${freeBoardDTOList.first} ? '#' : @{/freeBoard/paging(page=${freeBoardDTOList.number})}"><</a>
            <span th:each="page: ${#numbers.sequence(startPage, endPage)}">
                <span th:if="${page == freeBoardDTOList.number + 1}" th:text="${page}"></span>
                <span th:unless="${page == freeBoardDTOList.number + 1}">
                    <a th:href="@{/freeBoard/paging(page=${page})}" th:text="${page}"></a>
                 </span>
            </span>
            <a th:href="${freeBoardDTOList.last} ? '#' : @{/freeBoard/paging(page=${freeBoardDTOList.number + 2})}">></a>
        </div>
        <a th:href="@{/freeBoard/paging(page=${freeBoardDTOList.totalPages})}" class="freeBoard-bottom-nav-next">마지막으로</a>
      </div>
    </div>
    <div th:unless="${keyword == null}">
    <div class="freeBoard-bottom-nav">
        <a th:href="@{/freeBoard/paging(page=1,searchKeyword=${keyword})}" class="freeBoard-bottom-nav-prev">처음으로</a>
        <div class="freeBoard-bottom-nav-content">
          <a th:href="${freeBoardDTOList.first} ? '#' : @{/freeBoard/paging(page=${freeBoardDTOList.number},searchKeyword=${keyword})}"><</a>
          <span th:each="page: ${#numbers.sequence(startPage, endPage)}">
    <span th:if="${page == freeBoardDTOList.number + 1}" th:text="${page}"></span>
    <span th:unless="${page == freeBoardDTOList.number + 1}">
        <a th:href="@{/freeBoard/paging(page=${page},searchKeyword=${keyword})}" th:text="${page}"></a>
    </span>
</span>
          <a th:href="${freeBoardDTOList.last} ? '#' : @{/board/paging(page=${freeBoardDTOList.number + 2},searchKeyword=${keyword})}">></a>
        </div>
        <a th:href="@{/freeBoard/paging(page=${freeBoardDTOList.totalPages},searchKeyword=${keyword})}"
           class="freeBoard-bottom-nav-next">마지막으로</a>
      </div>
    </div>
  </div>
</main>
<script src="/common/js/nav.js"></script>

</body>
</html>