<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../static/css/question/list.css">
</head>
<body>
    <div id="container">
      <table id="question-list">
        <thead>
            <tr>
                <td colspan="3">
                    <p>질문하기 기술 커리어 기타 전체 전체 최신순</p>
                    <p>Q&A 내에서 검색 1/777페이지 <- -></p>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td rowspan="3">
                    <p>답변</p>
                    <p>0</p>
                </td>
                <td>일용자 3분전</td>
                <td rowspan="2"></td>
            </tr>
            <tr>
<!--                <td></td>-->
                <td>
                    이직 준비중입니다.
                </td>
<!--                <td></td>-->
            </tr><tr>
<!--                <td></td>-->
                <td>
                    기술 #태그 #태그 #태그
                </td>
                <td>
                    조회수 8
                </td>
            </tr>
        </tbody>
      </table>
    </div>
<script>

</script>
</body>
</html>