<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <title>공지사항 상세보기</title>
      <script src="https://kit.fontawesome.com/f5db63554f.js" crossorigin="anonymous"></script>
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="/common/css/nav.css">
      <link rel="stylesheet" href="/notice/css/detail.css">
      <!-- jQUery -->
      <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  </head>
  <body>
    <nav th:replace="~{common/nav.html :: nav}"></nav>
    <main>
        <div class="notice-theme-box">
            <div class="notice-theme-content"><a href="/notice/list"><p>공지사항</p></a></div>
            <div class="notice-theme-line"><hr></div>
        </div>
        <div class="notice-info-box">
            <div class="notice-info-btn">
                <a class="blue" th:href="@{/notice/modify(noticeNo=${notice.getId()})}">수정</a>
                <a href="" class="sky" id="noticeRemoveBtn">삭제</a>
            </div>
            <div class="notice-info-content">
                <div class="notice-nickname">
                    <span th:text="${notice.adminName}"></span>
                </div>
                <div class="notice-subject">
                    <span th:text="${notice.getUpdatedAt()}"></span>
                </div>
            </div>
        </div>
        <div class="notice-detail-title">
            <p th:text="${notice.getTitle()}"></p>
        </div>
        <div class="notice-detail-content" th:utext="${notice.getContent()}"></div>
        <div class="index-btn-area">
            <a class="index-btn" th:if="${keyword == null}" th:href="@{/notice/list(page=${page})}">목록으로</a>
            <a class="index-btn" th:if="${keyword != null}" th:href="@{/notice/list(page=${page},keyword=${keyword})}">목록으로</a>
        </div>
    </main>
    <div class="remove-modal-box" id="removeModalBox">
        <div class="remove-modal-bg" id="removeModalBg"></div>
        <div class="remove-modal">
            <div>
                <span>정말 삭제하시겠습니까?</span>
            </div>
            <div class="notice-modal-btn">
                <a th:href="@{/notice/delete(noticeNo=${notice.getId()})}">삭제</a>
                <a href="#" id="modalInClose">취소</a>
            </div>
        </div>
    </div>
    <script src="/common/js/nav.js"></script>
    <script>
        document.getElementById('noticeRemoveBtn').addEventListener('click', function(e){
            e.preventDefault();
            document.querySelector('body').style.overflow = 'hidden';
            document.getElementById("removeModalBox").style.display = 'block';
        })

        document.getElementById("modalInClose").addEventListener('click',function(e){
            e.preventDefault();
            e.stopPropagation();
            modalClose();
        })

        document.getElementById("removeModalBg").addEventListener('click', function(e){
            e.stopPropagation();
            modalClose();
        });

        function modalClose(){
            document.querySelector('body').style.overflow = 'scroll';
            document.getElementById("removeModalBox").style.display = 'none';
        }
    </script>
  </body>
</html>