<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>공지사항 목록</title>
    <script src="https://kit.fontawesome.com/f5db63554f.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/common/css/nav.css">
    <link rel="stylesheet" href="/notice/css/list.css">
</head>
<body>
    <nav th:replace="~{common/nav.html :: nav}"></nav>
    <main>
        <div class="notice-title-box">
            <a class="reset-a" href="/notice/list"><p class="board-title">공지사항</p></a>
            <p>새소식, 이벤트, 행사 정보를 공유하는 공간입니다.</p>
        </div>
        <div class="write-btn-box">
            <a href="/notice/write" class="notice-write-btn"><i class="fa-solid fa-pencil"></i>&#32;글 쓰기</a>
        </div>
        <div class="notice-list-box">
            <div class="notice-top-nav">
                <div class="notice-search-box">
                    <form action='/notice/list' method="get" class="notice-search-form">
                        <input type='text' name="keyword" placeholder='공지사항 내 검색' class='nav-search'>
                        <label for="noticeSearch">
                            <i class="fa-solid fa-magnifying-glass search-glass"></i>
                        </label>
                        <input type="submit" class="search-btn" id="noticeSearch">
                    </form>
                </div>
                <div class="notice-top-nav-content">
                    <a th:if="${page > 1 && keyword != null}" th:href="@{/notice/list(page=${page - 1},keyword=${keyword})}"><i class="fa-solid fa-arrow-left"></i></a>
                    <a th:if="${page <= 1 && keyword != null}" th:href="@{/notice/list(page=1,keyword=${keyword})}"><i class="fa-solid fa-arrow-left"></i></a>
                    <a th:if="${page > 1 && keyword == null}" th:href="@{/notice/list(page=${page - 1})}"><i class="fa-solid fa-arrow-left"></i></a>
                    <a th:if="${page <= 1 && keyword == null}" th:href="@{/notice/list(page=1)}"><i class="fa-solid fa-arrow-left"></i></a>

                    <span th:text="${page}"></span>
                    <span>/</span>
                    <span th:text="${totalPage}"></span>

                    <a th:if="${page < totalPage && keyword == null}" th:href="@{/notice/list(page=${page + 1})}"><i class="fa-solid fa-arrow-right"></i></a>
                    <a th:if="${page >= totalPage && keyword == null}" th:href="@{/notice/list(page=${totalPage})}"><i class="fa-solid fa-arrow-right"></i></a>
                    <a th:if="${page < totalPage && keyword != null}" th:href="@{/notice/list(page=${page + 1},keyword=${keyword})}"><i class="fa-solid fa-arrow-right"></i></a>
                    <a th:if="${page >= totalPage && keyword != null}" th:href="@{/notice/list(page=${totalPage},keyword=${keyword})}"><i class="fa-solid fa-arrow-right"></i></a>
                </div>
            </div>
            <div th:each="notice : ${nList}" class="notice-content-box">
                <div>
                    <span>작성자 : </span>
                    <span th:text="${notice.getAdmin().getName()}"></span>
                    <span>수정 일 : </span>
                    <span th:text="${notice.getUpdatedAt()}"></span>
                </div>
                <div>
                    <a th:if="${keyword == null}" th:href="@{/notice/detail(noticeNo=${notice.getId()},page=${page})}"><span th:text="${notice.getTitle()}"></span></a>
                    <a th:if="${keyword != null}" th:href="@{/notice/detail(noticeNo=${notice.getId()},page=${page},keyword=${keyword})}"><span th:text="${notice.getTitle()}"></span></a>
                </div>
            </div>
            <div class="notice-bottom-nav">
                      <a th:if="${keyword == null}" href="/notice/list?page=1" class="notice-bottom-nav-prev">처음으로</a>
                      <a th:if="${keyword != null}" th:href="@{/notice/list(page=1,keyword=${keyword})}" class="notice-bottom-nav-prev">처음으로</a>
                <div class="notice-bottom-nav-content">
                      <a th:if="${page > 1 && keyword == null}" th:href="@{/notice/list(page=${page - 1})}">&lt;</a>
                      <a th:if="${page <= 1 && keyword == null}" th:href="@{/notice/list(page=1)}">&lt;</a>
                      <a th:if="${keyword == null}" th:each="nav : ${navCount}" th:href="@{/notice/list(page=${nav})}">
                          <span th:if="${page == nav}" class="notice-nav-check" th:text="${nav}"></span>
                          <span th:if="${page != nav}" th:text="${nav}"></span>
                      </a>
                      <a th:if="${page < totalPage && keyword == null}" th:href="@{/notice/list(page=${page + 1})}">&gt;</a>
                      <a th:if="${page >= totalPage && keyword == null}" th:href="@{/notice/list(page=${totalPage})}">&gt;</a>

                      <a th:if="${page > 1 && keyword != null}" th:href="@{/notice/list(page=${page - 1},keyword=${keyword})}">&lt;</a>
                      <a th:if="${page <= 1 && keyword != null}" th:href="@{/notice/list(page=1,keyword=${keyword})}">&lt;</a>
                      <a th:if="${keyword != null}" th:each="nav : ${navCount}" th:href="@{/notice/list(page=${nav},keyword=${keyword})}">
                          <span th:if="${page == nav}" class="notice-nav-check" th:text="${nav}"></span>
                          <span th:if="${page != nav}" th:text="${nav}"></span>
                      </a>
                      <a th:if="${page < totalPage && keyword != null}" th:href="@{/notice/list(page=${page + 1},keyword=${keyword})}">&gt;</a>
                      <a th:if="${page >= totalPage && keyword != null}" th:href="@{/notice/list(page=${totalPage},keyword=${keyword})}">&gt;</a>
                </div>
                      <a th:if="${keyword == null}" th:href="@{/notice/list(page=${totalPage})}" class="notice-bottom-nav-next">마지막으로</a>
                      <a th:if="${keyword != null}" th:href="@{/notice/list(page=${totalPage},keyword=${keyword})}" class="notice-bottom-nav-next">마지막으로</a>
            </div>
        </div>
    </main>
    <script src="/common/js/nav.js"></script>
</body>
</html>