/* 여기부터 */

.main-body{
    background-color: #f4f4f4;
}

.jobposting-container{
    width: 1100px;
    height: 100%;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0px 0px 5px rgba(106, 106, 106, 0.33);
    padding: 50px;
    display: flex;
    flex-direction: column;
}
/* 필터링 조건 */
.jobposting-controller{
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0px 0px 2px #686868;
    border-radius: 20px;
    color: #686868;
    font-size: 85%;
}
.jobposting-controller tr:nth-child(1) td:nth-child(1){
    border-top-left-radius: 20px;
}
.jobposting-controller tr:last-child td:nth-child(1){
    border-bottom-left-radius: 20px;
}
.jobposting-controller tr:not(tr:last-child) td {
    border-bottom: 1px dashed #686868;
}
.jobposting-controller tr td:nth-child(1) {
    font-weight: bold;
    width: 13%;
    text-align: center;
    background-color: #fafafa;
}
.jobposting-controller tr td:nth-child(2) {
    width: 87%;
    padding: 10px 10px 10px 10px;
}
[type=radio]{
    margin-left: 10px;
    margin-right: 5px;
}
[type=text]{
    width: 40px;
    border: none;
    border-bottom: 1px solid #686868;
}
[type=text]:focus{
    outline: none;
}

/* 검색 버튼 */
.jobposting-list-btn{
    display: flex;
    justify-content: center;
    margin: 30px 0px 70px 0px;
}
.jobposting-search-btn{
    width: 75px;
    background-color: #0090F0;
    color: white;
    border: 1px solid #0090F0;
    font-size: 90%;
    padding: 3px 10px 3px 10px;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
}
.jobposting-initialize-btn{
    width: 75px;
    background-color: white;
    color: #ec4141;
    border: 1px solid #ec4141;
    font-size: 90%;
    padding: 3px 10px 3px 10px;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}

/* 목록 */
.jobposting-list{
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0px 0px 2px #686868;
    color: #686868;
    font-size: 95%;
}
.jobposting-list th{
    background-color: #fafafa;
    padding: 10px 0px 10px 0px;
}
.jobposting-list td{
    padding: 2px 10px 2px 10px;
}
.jobposting-list td:nth-child(1){
    width: 15%;
    font-weight: bolder;
}
.jobposting-list td:nth-child(2){
    width: 8%;
}
.jobposting-list td:nth-child(3){
    font-weight: bold;
    width: 32%;
    cursor: pointer;
}
.jobposting-list td:nth-child(4){
    width: 5%;
}
.jobposting-list td:nth-child(5){
    width: 10%;
}
.jobposting-list td:nth-child(5){
    width: 10%;
}
.jobposting-list td:nth-child(6){
    width: 10%;
}
.jobposting-list td:nth-child(7){
    width: 10%;
}
.jobposting-list td:nth-child(8){
    width: 10%;
}
.jobposting-list tr:not(:first-child, :last-child){
    border-bottom: 1px dashed #686868;
}

.jobposting-list tr td:not(:nth-child(3)){
    text-align: center;
}
.jobposting-list a{
    color: #686868;
    text-decoration: none;
}
.salary-year{
    color: white;
    padding: 1px 3px 2px 3px;
    background-color: #20B2AA;
    font-weight: bolder;
    border-radius: 5px;
}
.salary-month{
    color: white;
    padding: 1px 3px 2px 3px;
    background-color: #ce7124;
    font-weight: bolder;
    border-radius: 5px;
}
.jobposting-navi{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
        .jobposting-navi a{
            color: #686868;
            font-size: 120%;
            padding: 3px 10px 3px 10px;
            background-color: white;
            margin: 5px;
            text-decoration: none;
        }
        .jobposting-navi a:hover{
            color: black;
            font-weight: bold;
        }
#alter-msg{
    align-self: center;
}