<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${detail.getTitle()}"></title>
    <!-- CSS & js-->
    <link rel="stylesheet" href="/course/css/CourseDetail.css">
    <!--fontawesome-->
    <script src="https://kit.fontawesome.com/f5db63554f.js" crossorigin="anonymous"></script>
    <!-- nav import -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/common/css/nav.css">
    <!-- jQUery -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>
<body>
    <nav th:replace="~{common/nav.html :: nav}"></nav>
    <div id="course-header">
        <div id="header-thumbnail">
            <img th:src="@{/course/upload/thumbnails/} + ${detail.savedPath} +@{/} + ${detail.savedImageName}" id="thumbnails" alt="">
        </div>
        <div id="header-title">
            <div id="title-category">
                <span id="hot">HOT</span>
                <a href="#" class="category" th:if="${detail.category == 'frontend'}">프론트엔드</a>
                <a href="#" class="category" th:if="${detail.category == 'backend'}">백엔드</a>
                <a href="#" class="category" th:if="${detail.category == 'security'}">보안</a>
                <a href="#" class="category" th:if="${detail.category == 'network'}">네트워크</a>
                <p id="seperate">|</p>
                <a href="#" class="level" th:if="${detail.level == 0}">입문자용</a>
                <a href="#" class="level" th:if="${detail.level == 1}">초급자용</a>
                <a href="#" class="level" th:if="${detail.level == 2}">중급자용</a>
            </div>
            <h2 id="title" th:text="${detail.title}"></h2>
            <p class="subtitle" th:switch="${detail.category}">
                <span th:case="frontend">프론트엔드 실무 만큼은 제대로 배울 수 있습니다.</span>
                <span th:case="backend">백엔드 실무 만큼은 제대로 배울 수 있습니다.</span>
                <span th:case="security">보안 실무 만큼은 제대로 배울 수 있습니다.</span>
                <span th:case="network">네트워크 실무 만큼은 제대로 배울 수 있습니다.</span>
            </p>
        </div>
    </div>
    <div id="course-nav">
        <p class="nav-basic nav-focus" onclick="moveIntroduce()">강의소개</p>
        <p class="nav-basic" onclick="moveCurriculum()">커리큘럼</p>
        <p class="nav-basic" onclick="moveReview()" th:text="'수강후기(' + ${totalReview} + ')'"></p>
    </div>
    <div id="course-main">
        <div id="main-left">
            <div id="left-introduce">
                <h3>현직자의 알찬 강의만 쏙쏙<br>배우고, 나누고, 성장해요!</h3>
                <p>
                    어떤 것이든 시작이 어렵습니다.<br>
                    어디서부터 시작해야 할지 감이 안 잡히기 때문이죠.<br>
                    그러나, <b>이미 걸어가본 사람에게 길을 묻는다면 어떨까요?</b><br>
                    실무에서 업계 선배를 통해 <b>시행착오를 줄이는 순간을 경험</b>하세요.
                </p>
            </div>
            <div id="left-content" th:utext="${detail.content}">
            </div>
            <div id="left-curriculum">
                <h2>📘 커리큘럼</h2>
                <p class="left-description">해당 강의는 미리보기를 제공합니다.</p>
                <button id="preview-btn" onclick="preview()">미리보기</button>
                <div class="modal">
                    <div class="modal-body">
                        <div class="modal-close">✖</div>
                        <div class="modal-category">
                            <h3 th:text="${detail.chapters[0].title + ' >　'}"></h3>
                            <h3 th:text="${detail.chapters[0].lessons[0].title}"></h3>
                        </div>
                        <div class="modal-video">
                            <video controls controlsList="nodownload" th:src="@{/course/upload/videos/} + ${detail.chapters[0].lessons[0].courseVideoDTO.savedPath} +@{/} + ${detail.chapters[0].lessons[0].courseVideoDTO.savedVideoName}"></video>
                        </div>
                    </div>
                </div>
                <table th:each="chapter,status : ${detail.chapters}">
                    <tr>
                        <th colspan="2" th:text="${'Chapter' + status.count + '. ' + chapter.title}"></th>
                    </tr>
                    <tr th:each="lesson, index : ${chapter.lessons}">
                        <td th:text="${status.count + '.' +index.count + '. ' + lesson.title}"></td>
                        <td th:text="${lesson.courseVideoDTO.videoTime}"></td>
                    </tr>
                </table>
            </div>
            <div id="left-review">
                <h2>🔔 수강후기</h2>
                <p class="left-description">실제 수강생들의 생생한 후기입니다.</p>
                <div id="review-top">
                    <h2 th:text="'👨🏻‍🎓 수강후기 ' + ${totalReview} + '개'"></h2>
                    <h2 th:text="'💚 만족도 ' + ${avgRating} + '점'"></h2>
                </div>
                <ul id="review-category">
                    <li>최신순</li>
<!--                    <li>별점 높은 순</li>-->
<!--                    <li>별점 낮은 순</li>-->
                </ul>
                <!-- 리뷰 -->
                <div id="dynamic-review-area">
                    <div class="review-area" th:each="review : ${reviews}">
                        <div class="review-user">
                            <img th:src="@{/course/image/user_logo.png}" alt="" class="user-logo">
                            <div class="user-info">
                                <span class="nickname" th:text="${review.userNickname}"></span>
                                <span class="review-date" th:text="${#dates.format(review.createdAt, 'yyyy-MM-dd')}"></span>
                            </div>
                        </div>
                        <div>
                            <span class="star">
                                ★★★★★
                                <span th:style="'width: ' + ${review.rating * 20} + '%;'">★★★★★</span>
                            </span>
                        </div>
                        <div>
                            <p th:text="${review.content}"></p>
                        </div>
                    </div>
                </div>
                <button id="review-more-btn">수강후기 더보기</button>
            </div>
        </div>
        <div id="main-right">
            <h4>💡 강의 요약</h4>
            <ul class="right-description">
                <li th:text="'▪ 강의 수: 총 ' + ${detail.totalLessonCount} + '강'"></li>
                <li th:text="'▪ 강의 시간: 총 ' + ${detail.totalVideoTime}"></li>
                <li>▪ 소장 기간: 무제한</li>
                <li th:switch="${detail.level}">
                    <span th:case="0">▪ 난이도: 입문자</span>
                    <span th:case="1">▪ 난이도: 초급자</span>
                    <span th:case="2">▪ 난이도: 중급자</span>
                </li>
                <li th:text="'▪ 강사: ' + ${detail.nickname}"></li>
            </ul>
            <h2 id="price" th:text="${'💸 ' + #numbers.formatInteger(detail.price, 3, 'COMMA') + '원'}"></h2>
            <button class="right-apply-btn"
                    th:id="${detail.id}"
                    th:onclick="gopay(this.getAttribute('id'))">수강신청</button>
            <button type="button" class="right-cart-btn" id="addcart">장바구니 추가</button>
            <a href="#" class="right-share"><i class="fa-solid fa-share-nodes"></i> 공유하기</a>
        </div>
    </div>
</body>


<script th:inline="javascript">

    // 장바구니 추가 버튼 클릭
    $("#addcart").click(function () {

        const courseId = $("#course-id").val();
        const userId = $("#user-id").val();

        $.ajax({
            type: 'post',
            url: '/cart/add',
            data: {
                userId : userId,
                courseId : courseId
            },
            success: function () {
                alert("장바구니에 담겼습니다.")
            }
        })
    });

    // ======================================================
    // 네비게이션 관련
    // ======================================================
    let curriculumLocation = (document.querySelector("#left-curriculum").getBoundingClientRect().top + window.scrollY)-200;
    let reviewLocation = (document.querySelector("#left-review").getBoundingClientRect().top + window.scrollY)-200;
    /* 1. 스크롤 이벤트 관련 */
    window.addEventListener("scroll", () => {
        // 1-1. 스크롤 시 네비게이션 상단 고정
        if (window.scrollY > 360) {
            document.querySelector("#course-nav").className = "course-nav";
        } else {
            document.querySelector("#course-nav").classList.remove("course-nav");
        }
        // 1-2. 강의소개 유지
        if (window.scrollY<curriculumLocation){
            clearNavColor();
            let curriculumTag = document.querySelector('#course-nav p:nth-child(1)');
            curriculumTag.className = 'nav-basic nav-focus';
        }
        // 1-3. 커리큘럼 항목 도착
        else if (window.scrollY>curriculumLocation && window.scrollY<reviewLocation){
            clearNavColor();
            let curriculumTag = document.querySelector('#course-nav p:nth-child(2)');
            curriculumTag.className = 'nav-basic nav-focus';
        }
        // 1-4. 수강후기 항목 도착
        else if (window.scrollY>reviewLocation){
            clearNavColor();
            let curriculumTag = document.querySelector('#course-nav p:nth-child(3)');
            curriculumTag.className = 'nav-basic nav-focus';
        }

    });

    /* 2. 네비게이션 글씨색 전체 회색으로 초기화 + 밑줄 제거 */
    let clearNavColor = ()=>{
        let pTags = document.querySelectorAll('#course-nav p');
        for (let i = 0; i<pTags.length; i++){
            pTags[i].classList.remove('nav-focus');
        }
    }
    /* 3-1. 네비로 강의소개 항목 클릭 */
    let moveIntroduce =()=>{
        window.scrollTo({top:0, behavior:'smooth'});
        clearNavColor();
        let curriculumTag = document.querySelector('#course-nav p:nth-child(1)');
        curriculumTag.className = 'nav-basic nav-focus';
    }

    /* 3-2. 네비로 커리큘럼 항목 클릭 */
    let moveCurriculum = ()=>{
        let location = document.querySelector("#left-curriculum").offsetTop;
        window.scrollTo({top:location-150, behavior:'smooth'});
        clearNavColor();
        let curriculumTag = document.querySelector('#course-nav p:nth-child(2)');
        curriculumTag.className = 'nav-basic nav-focus';
    }

    /* 3-3. 네비로 수강후기 항목 클릭 */
    let moveReview = () =>{
        let location = document.querySelector("#left-review").offsetTop;
        window.scrollTo({top:location-150, behavior:'smooth'});
        clearNavColor();
        let curriculumTag = document.querySelector('#course-nav p:nth-child(3)');
        curriculumTag.className = 'nav-basic nav-focus';
    }


    /* 미리보기 모달창 열기*/
    let preview = () =>{
        const bodyTag = document.querySelector('body');
        bodyTag.style.overflow = 'hidden';
        const modalTag = document.querySelector('.modal');
        modalTag.style.display = 'flex';
        const videoTag = document.querySelector('video');
        videoTag.play();
    }
    /* 미리보기 모달창 닫기 */
    document.querySelector('.modal-close').addEventListener("click", ()=>{
        const bodyTag = document.querySelector('body');
        bodyTag.style.overflow = 'auto';
        const modalTag = document.querySelector('.modal');
        modalTag.style.display = 'none';
        const videoTag = document.querySelector('video');
        videoTag.pause();
    });
    window.addEventListener("keyup", e => {
        if(document.querySelector('.modal').style.display === "flex" && e.key === "Escape") {
            document.querySelector('.modal').style.display = "none"
            const videoTag = document.querySelector('video');
            videoTag.pause();
            const bodyTag = document.querySelector('body');
            bodyTag.style.overflow = 'auto';
        }
    });

    // ======================================================
    // 수강후기 관련
    // ======================================================
    let page = 1;
    const courseId = [[${detail.id}]];
    document.querySelector("#review-more-btn").addEventListener("click", ()=>{
        $.ajax({
            type: 'POST',
            contentType: 'application/json',
            url: `/course/${courseId}/more`,
            data: JSON.stringify({
                'page': page
            }),
            success: function (response){
                if(!(response.length === 0)){
                    $(response).each(function(index, review){
                        let tag = `<div class="review-area">
                                        <div class="review-user">
                                              <img src="/course/image/user_logo.png" alt="" class="user-logo">
                                              <div class="user-info">
                                                <span class="nickname">${review.userNickname}</span>
                                                <span class="review-date">${review.createdAt.substring(0,10)}</span>
                                              </div>
                                        </div>
                                        <div>
                                              <span class="star">
                                                ★★★★★
                                                <span style="width:${review.rating*20}%;">★★★★★</span>
                                              </span>
                                        </div>
                                        <div>
                                              <p>${review.content}</p>
                                        </div>
                                  </div>`;
                        $("#dynamic-review-area").append(tag);
                    });
                    page++;
                } else {
                    alert("마지막 수강후기입니다.")
                    return false;
                }
            }
        });
    });

    function gopay(id) {
        location.href = "/payment/paymentView/" + id;
    }
</script>
<script src="/common/js/nav.js"></script>
</html>