<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>{강의 제목값}</title>
    <!-- CSS & js-->
    <link rel="stylesheet" href="/course/css/CourseDetail.css">
    <!--fontawesome-->
    <script src="https://kit.fontawesome.com/f5db63554f.js" crossorigin="anonymous"></script>
</head>
<body>
    <div id="course-header">
        <div id="header-thumbnail">
            <img th:src="@{/course/upload/thumbnails/230424/45821cec-3883-4f11-9f3a-6dccc6a86c02.png}" id="thumbnails" alt="">
        </div>
        <div id="header-title">
            <div id="title-category">
                <span id="hot">HOT</span>
                <a href="#" id="category">백엔드</a>
                <p id="seperate">|</p>
                <a href="#" id="level">입문자용</a>
            </div>
            <h2 id="title">스프링 부트 - 핵심 원리와 활용</h2>
            <p id="subtitle">백엔드 실무 만큼은 제대로 배울 수 있습니다.</p>
        </div>
    </div>
    <div id="course-nav">
        <p>강의소개</p>
        <p>커리큘럼</p>
        <p>수강후기(43)</p>
    </div>
    <div id="course-main">
        <div id="main-left">
            <div id="left-introduce">
                <h3>현직자의 알찬 강의만 쏙쏙<br>배우고, 나누고, 성장해요!</h3>
                <p>
                    어떤 것이든 시작이 어렵습니다.<br>
                    어디서부터 시작해야 할지 감이 안 잡히기 때문이죠.<br>
                    그러나, 이미 걸어가본 사람에게 길을 묻는다면 어떨까요?<br>
                    실무에서 업계 선배를 통해 <b>시행착오를 줄이는 순간을 경험</b>하세요.
                </p>
            </div>
            <div id="left-content">
                <div class="cd-body__title cd-body__intro-title"
                     style="box-sizing: inherit; letter-spacing: -0.3px; line-height: 1.45; color: rgb(52, 58, 64); font-size: 22px; margin-bottom: 16px; font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, &quot;Helvetica Neue&quot;, &quot;Segoe UI&quot;, &quot;Apple SD Gothic Neo&quot;, &quot;Noto Sans KR&quot;, &quot;Malgun Gothic&quot;, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;, &quot;Segoe UI Symbol&quot;, sans-serif;">
                    <span style="box-sizing: inherit; color: inherit; font-weight: 700;">초급자</span>를 위해 준비한<br
                        style="box-sizing: inherit;"><span style="box-sizing: inherit; color: inherit; font-weight: 700;">[백엔드, 웹 개발] 강의입니다.</span>
                </div>
                <p class="cd-body__description"
                   style="box-sizing: inherit; margin: 0px 0px 8px; padding: 0px; line-height: 1.69; font-size: 16px; letter-spacing: -0.5px; color: rgb(73, 80, 87); font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, &quot;Helvetica Neue&quot;, &quot;Segoe UI&quot;, &quot;Apple SD Gothic Neo&quot;, &quot;Noto Sans KR&quot;, &quot;Malgun Gothic&quot;, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;, &quot;Segoe UI Symbol&quot;, sans-serif;">
                    실무에 필요한 스프링 부트는 이 강의 하나로 모두 정리해드립니다.</p>
                <section class="cd-fixed-body"
                         style="box-sizing: inherit; display: flex; letter-spacing: -0.3px; align-items: center; margin-bottom: 16px; padding: 32px 24px 32px 16px; border-radius: 8px; border: 1px solid rgb(233, 236, 239); color: rgb(0, 10, 18); font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, &quot;Helvetica Neue&quot;, &quot;Segoe UI&quot;, &quot;Apple SD Gothic Neo&quot;, &quot;Noto Sans KR&quot;, &quot;Malgun Gothic&quot;, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;, &quot;Segoe UI Symbol&quot;, sans-serif; font-size: 16px;">
                    <div class="cd-fixed-body__title"
                         style="box-sizing: inherit; flex-shrink: 0; flex-basis: 130px; margin-right: 16px; line-height: 1.39; letter-spacing: -0.3px; color: rgb(52, 58, 64); font-size: 18px; text-align: center;">
                        ✍️<br style="box-sizing: inherit;">이런 걸<br style="box-sizing: inherit;">배워요!
                    </div>
                    <div class="cd-fixed-body__list-content" style="box-sizing: inherit; flex: 1 1 auto;">
                        <div class="cd-fixed-body__list"
                             style="box-sizing: inherit; line-height: 1.5; letter-spacing: -0.3px; display: flex; align-items: baseline; color: rgb(52, 58, 64);">
                            <span class="infd-icon"
                                  style="box-sizing: inherit; font-weight: inherit; font-style: inherit; display: inline-flex; align-items: center; justify-content: center; transition: background-color 0.15s ease 0s; margin-right: 8px; width: 16px; height: 16px;"><svg
                                    width="16" xmlns="http://www.w3.org/2000/svg" height="16" viewBox="0 0 16 16"><path
                                    fill="#00C471" fill-rule="evenodd"
                                    d="M13.78 4.22c.14.14.22.331.22.53s-.08.39-.22.53l-7.25 7.25c-.14.14-.331.22-.53.22s-.39-.08-.53-.22L2.22 9.28c-.133-.142-.205-.33-.201-.525.003-.194.082-.38.22-.517.137-.137.322-.216.516-.22.195-.003.383.07.525.202L6 10.94l6.72-6.72c.14-.14.331-.22.53-.22s.39.08.53.22z"
                                    clip-rule="evenodd"></path></svg></span>스프링 부트의 내부 동작 원리
                        </div>
                        <div class="cd-fixed-body__list"
                             style="box-sizing: inherit; line-height: 1.5; letter-spacing: -0.3px; display: flex; align-items: baseline; color: rgb(52, 58, 64); margin-top: 10px;">
                            <span class="infd-icon"
                                  style="box-sizing: inherit; font-weight: inherit; font-style: inherit; display: inline-flex; align-items: center; justify-content: center; transition: background-color 0.15s ease 0s; margin-right: 8px; width: 16px; height: 16px;"><svg
                                    width="16" xmlns="http://www.w3.org/2000/svg" height="16" viewBox="0 0 16 16"><path
                                    fill="#00C471" fill-rule="evenodd"
                                    d="M13.78 4.22c.14.14.22.331.22.53s-.08.39-.22.53l-7.25 7.25c-.14.14-.331.22-.53.22s-.39-.08-.53-.22L2.22 9.28c-.133-.142-.205-.33-.201-.525.003-.194.082-.38.22-.517.137-.137.322-.216.516-.22.195-.003.383.07.525.202L6 10.94l6.72-6.72c.14-.14.331-.22.53-.22s.39.08.53.22z"
                                    clip-rule="evenodd"></path></svg></span>스프링 부트 라이브러리 만들기
                        </div>
                        <div class="cd-fixed-body__list"
                             style="box-sizing: inherit; line-height: 1.5; letter-spacing: -0.3px; display: flex; align-items: baseline; color: rgb(52, 58, 64); margin-top: 10px;">
                            <span class="infd-icon"
                                  style="box-sizing: inherit; font-weight: inherit; font-style: inherit; display: inline-flex; align-items: center; justify-content: center; transition: background-color 0.15s ease 0s; margin-right: 8px; width: 16px; height: 16px;"><svg
                                    width="16" xmlns="http://www.w3.org/2000/svg" height="16" viewBox="0 0 16 16"><path
                                    fill="#00C471" fill-rule="evenodd"
                                    d="M13.78 4.22c.14.14.22.331.22.53s-.08.39-.22.53l-7.25 7.25c-.14.14-.331.22-.53.22s-.39-.08-.53-.22L2.22 9.28c-.133-.142-.205-.33-.201-.525.003-.194.082-.38.22-.517.137-.137.322-.216.516-.22.195-.003.383.07.525.202L6 10.94l6.72-6.72c.14-.14.331-.22.53-.22s.39.08.53.22z"
                                    clip-rule="evenodd"></path></svg></span>스프링 부트가 제공하는 핵심 기능 이해
                        </div>
                        <div class="cd-fixed-body__list"
                             style="box-sizing: inherit; line-height: 1.5; letter-spacing: -0.3px; display: flex; align-items: baseline; color: rgb(52, 58, 64); margin-top: 10px;">
                            <span class="infd-icon"
                                  style="box-sizing: inherit; font-weight: inherit; font-style: inherit; display: inline-flex; align-items: center; justify-content: center; transition: background-color 0.15s ease 0s; margin-right: 8px; width: 16px; height: 16px;"><svg
                                    width="16" xmlns="http://www.w3.org/2000/svg" height="16" viewBox="0 0 16 16"><path
                                    fill="#00C471" fill-rule="evenodd"
                                    d="M13.78 4.22c.14.14.22.331.22.53s-.08.39-.22.53l-7.25 7.25c-.14.14-.331.22-.53.22s-.39-.08-.53-.22L2.22 9.28c-.133-.142-.205-.33-.201-.525.003-.194.082-.38.22-.517.137-.137.322-.216.516-.22.195-.003.383.07.525.202L6 10.94l6.72-6.72c.14-.14.331-.22.53-.22s.39.08.53.22z"
                                    clip-rule="evenodd"></path></svg></span>스프링 부트를 활용한 모니터링
                        </div>
                    </div>
                </section>
                <p style="box-sizing: inherit; margin: 0px 0px 16px; padding: 16px; line-height: 1.69; font-size: 16px; letter-spacing: -0.3px; color: rgb(255, 255, 255); font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, &quot;Helvetica Neue&quot;, &quot;Segoe UI&quot;, &quot;Apple SD Gothic Neo&quot;, &quot;Noto Sans KR&quot;, &quot;Malgun Gothic&quot;, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;, &quot;Segoe UI Symbol&quot;, sans-serif; border-radius: 4px; background: rgb(52, 58, 64); font-weight: bold; text-align: center;">
                    백엔드 개발자를 위한 스프링 부트 끝판왕!&nbsp;<br style="box-sizing: inherit;">실무에 필요한 내용을 모두 담았습니다.&nbsp;</p>
                <h3 style="box-sizing: inherit; margin: 0px 0px 10px; padding: 0px; font-size: 22px; font-weight: 500; letter-spacing: -0.3px; line-height: 1.45; color: rgb(52, 58, 64); font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, &quot;Helvetica Neue&quot;, &quot;Segoe UI&quot;, &quot;Apple SD Gothic Neo&quot;, &quot;Noto Sans KR&quot;, &quot;Malgun Gothic&quot;, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;, &quot;Segoe UI Symbol&quot;, sans-serif;">
                    <span style="box-sizing: inherit; color: inherit; font-weight: 700;"><span
                            style="box-sizing: inherit; font-weight: inherit; font-style: inherit; font-size: 18px;">스프링 부트가 등장하기까지&nbsp;</span><br
                            style="box-sizing: inherit;">스프링 프레임워크의 성장</span></h3>
                <p style="box-sizing: inherit; margin: 0px 0px 4px; padding: 0px; line-height: 1.69; font-size: 16px; letter-spacing: -0.3px; color: rgb(73, 80, 87); font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, &quot;Helvetica Neue&quot;, &quot;Segoe UI&quot;, &quot;Apple SD Gothic Neo&quot;, &quot;Noto Sans KR&quot;, &quot;Malgun Gothic&quot;, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;, &quot;Segoe UI Symbol&quot;, sans-serif;">
                    <img src="https://cdn.inflearn.com/public/files/courses/328989/38e3719f-c46d-4a3f-a5c2-1d61be4aacb1/330459-0.png"
                         alt="" width="1200"
                         style="box-sizing: inherit; height: auto; max-width: 100%; display: block; padding-top: 10px; margin-left: auto; margin-right: auto;">
                </p>
                <p style="box-sizing: inherit; margin: 0px 0px 8px; padding: 10px 0px 0px; line-height: 1.69; font-size: 16px; letter-spacing: -0.3px; color: rgb(73, 80, 87); font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, &quot;Helvetica Neue&quot;, &quot;Segoe UI&quot;, &quot;Apple SD Gothic Neo&quot;, &quot;Noto Sans KR&quot;, &quot;Malgun Gothic&quot;, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;, &quot;Segoe UI Symbol&quot;, sans-serif;">
                    스프링 프레임워크는 지난 20년 동안 발전해온 매우 거대한 기술입니다.<br style="box-sizing: inherit;">실무에서 발생하는 대부분의 기술 문제를 해결하고 높은
                    안정성과 유연성을 제공합니다. 그래서 자바를 사용하는 대부분의 메이저 회사는 스프링을 사용합니다. 스프링은&nbsp;<span
                        style="box-sizing: inherit; color: inherit; font-weight: 700;">자바 진영에서 사용되는 사실상 표준 기술</span>입니다.</p>
                <h4 style="box-sizing: inherit; margin: 40px 0px 8px; padding: 0px; font-size: 18px; font-weight: 500; letter-spacing: -0.3px; line-height: 1.56; color: rgb(52, 58, 64); font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, &quot;Helvetica Neue&quot;, &quot;Segoe UI&quot;, &quot;Apple SD Gothic Neo&quot;, &quot;Noto Sans KR&quot;, &quot;Malgun Gothic&quot;, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;, &quot;Segoe UI Symbol&quot;, sans-serif;">
                    <span style="box-sizing: inherit; color: inherit; font-weight: 700;">거대하고 불편한 스프링 프레임워크</span></h4>
                <p style="box-sizing: inherit; margin: 0px 0px 8px; padding: 0px; line-height: 1.69; font-size: 16px; letter-spacing: -0.3px; color: rgb(73, 80, 87); font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, &quot;Helvetica Neue&quot;, &quot;Segoe UI&quot;, &quot;Apple SD Gothic Neo&quot;, &quot;Noto Sans KR&quot;, &quot;Malgun Gothic&quot;, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;, &quot;Segoe UI Symbol&quot;, sans-serif;">
                    그런데 스프링 프레임워크는 기능도 너무 많고 광범위해서 어디서부터 어떻게 시작해야 할지 막막합니다.<br style="box-sizing: inherit;">또 너무 많은 유연성을
                    제공해서, 어떤 기술들을 함께 사용해야 할지 선택하기 어렵습니다. 기능이 점점 증가하면서 더 많은 설정들이 필요해지기 시작했습니다. 그래서 많은 개발자들이 스프링은 무겁고 불편하다고
                    느끼기 시작했습니다.</p><h4
                    style="box-sizing: inherit; margin: 40px 0px 8px; padding: 0px; font-size: 18px; font-weight: 500; letter-spacing: -0.3px; line-height: 1.56; color: rgb(52, 58, 64); font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, &quot;Helvetica Neue&quot;, &quot;Segoe UI&quot;, &quot;Apple SD Gothic Neo&quot;, &quot;Noto Sans KR&quot;, &quot;Malgun Gothic&quot;, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;, &quot;Segoe UI Symbol&quot;, sans-serif;">
                <span style="box-sizing: inherit; color: inherit; font-weight: 700;">스프링 부트가 제공하는 5가지 핵심 기능</span></h4>
                <p style="box-sizing: inherit; margin: 0px 0px 8px; padding: 0px; line-height: 1.69; font-size: 16px; letter-spacing: -0.3px; color: rgb(73, 80, 87); font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, &quot;Helvetica Neue&quot;, &quot;Segoe UI&quot;, &quot;Apple SD Gothic Neo&quot;, &quot;Noto Sans KR&quot;, &quot;Malgun Gothic&quot;, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;, &quot;Segoe UI Symbol&quot;, sans-serif;">
                    <img src="https://cdn.inflearn.com/public/files/courses/328989/e000035e-0416-4cde-9f27-d3f7876bcdd5/330459-3.png"
                         alt="" width="1200"
                         style="box-sizing: inherit; height: auto; max-width: 100%; display: block; padding-top: 10px; margin-left: auto; margin-right: auto;">
                </p>
                <p style="box-sizing: inherit; margin: 0px 0px 8px; padding: 10px 0px 0px; line-height: 1.69; font-size: 16px; letter-spacing: -0.3px; color: rgb(73, 80, 87); font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, &quot;Helvetica Neue&quot;, &quot;Segoe UI&quot;, &quot;Apple SD Gothic Neo&quot;, &quot;Noto Sans KR&quot;, &quot;Malgun Gothic&quot;, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;, &quot;Segoe UI Symbol&quot;, sans-serif;">
                    스프링 부트는 5가지 핵심 기능을 제공하여 스프링 프레임워크를 편리하게 사용하도록 도와줍니다. 이번 강의 역시 이 5가지 핵심 기능에 집중합니다.</p>
            </div>
            <div id="left-curriculum">
                <h2>📘 커리큘럼</h2>
                <p class="left-description">해당 강의는 미리보기를 제공합니다.</p>
                <button id="preview-btn">미리보기</button>
                <table>
                    <tr>
                        <th colspan="2">챕터1. 강의소개</th>
                    </tr>
                    <tr>
                        <td>오리엔테이션</td>
                        <td>05:07</td>
                    </tr>
                    <tr>
                        <th colspan="2">챕터2. 스프링이란?</th>
                    </tr>
                    <tr>
                        <td>스프링의 역사</td>
                        <td>10:42</td>
                    </tr>
                    <tr>
                        <td>스프링의 기초</td>
                        <td>15:30</td>
                    </tr>
                    <tr>
                        <td>스프링의 핵심</td>
                        <td>20:11</td>
                    </tr>
                </table>
            </div>
            <div id="left-review">
                <h2>🔔 수강후기</h2>
                <p class="left-description">실제 수강생들의 생생한 후기입니다.</p>
                <div id="review-top">
                    <h2>👨🏻‍🎓 수강후기 43개</h2>
                    <h2>💚 만족도 4.7점</h2>
                </div>
                <ul id="review-category">
                    <li>최신순</li>
                    <li>별점 높은 순</li>
                    <li>별점 낮은 순</li>
                </ul>
                <!-- 1번째 리뷰 -->
                <div class="review-area">
                    <div class="review-user">
                        <img th:src="@{/course/image/user_logo.png}" alt="" class="user-logo">
                        <div class="user-info">
                            <span class="nickname">김치만두</span>
                            <span class="review-date">2023. 04. 24</span>
                        </div>
                    </div>
                    <div>
                        <span class="star">★★★★★</span>
                    </div>
                    <div>
                        <p>리뷰가 알차고 좋았어요~ 감사합니다~~~</p>
                    </div>
                </div>
                <!-- 2번째 리뷰 -->
                <div class="review-area">
                    <div class="review-user">
                        <img th:src="@{/course/image/user_logo.png}" class="user-logo">
                        <div class="user-info">
                            <span class="nickname">파란곰돌이</span>
                            <span class="review-date">2023. 04. 24</span>
                        </div>
                    </div>
                    <div>
                        <span class="star">★★★★★</span>
                    </div>
                    <div>
                        <p>리뷰가 알차고 좋았어요~ 감사합니다~~~</p>
                    </div>
                </div>
                <!-- 3번째 리뷰 -->
                <div class="review-area">
                    <div class="review-user">
                        <img th:src="@{/course/image/user_logo.png}" class="user-logo">
                        <div class="user-info">
                            <span class="nickname">파란곰돌이</span>
                            <span class="review-date">2023. 04. 24</span>
                        </div>
                    </div>
                    <div>
                        <span class="star">★★★★★</span>
                    </div>
                    <div>
                        <p>리뷰가 알차고 좋았어요~ 감사합니다~~~</p>
                    </div>
                </div>
                <!-- 4번째 리뷰 -->
                <div class="review-area">
                    <div class="review-user">
                        <img th:src="@{/course/image/user_logo.png}" alt="" class="user-logo">
                        <div class="user-info">
                            <span class="nickname">파란곰돌이</span>
                            <span class="review-date">2023. 04. 24</span>
                        </div>
                    </div>
                    <div>
                        <span class="star">★★★★★</span>
                    </div>
                    <div>
                        <p>리뷰가 알차고 좋았어요~ 감사합니다~~~</p>
                    </div>
                </div>
                <!-- 5번째 리뷰 -->
                <div class="review-area">
                    <div class="review-user">
                        <img th:src="@{/course/image/user_logo.png}" alt="" class="user-logo">
                        <div class="user-info">
                            <span class="nickname">파란곰돌이</span>
                            <span class="review-date">2023. 04. 24</span>
                        </div>
                    </div>
                    <div>
                        <span class="star">★★★★★</span>
                    </div>
                    <div>
                        <p>리뷰가 알차고 좋았어요~ 감사합니다~~~</p>
                    </div>
                </div>
                <button id="review-more-btn">수강후기 더보기</button>
            </div>
        </div>
        <div id="main-right">
            <h4>💡 강의 요약</h4>
            <ul class="right-description">
                <li>▪ 강의 수: 31강</li>
                <li>▪ 강의 시간: 40시간 31분</li>
                <li>▪ 소장 기간: 무제한</li>
                <li>▪ 난이도: 초급자</li>
                <li>▪ 강사: 떨떠름개발자</li>
            </ul>
            <h2 id="price">💸 99,000원</h2>
            <button class="right-apply-btn">수강신청</button>
            <button class="right-cart-btn">장바구니 추가</button>
            <a href="#" class="right-share"><i class="fa-solid fa-share-nodes"></i> 공유하기</a>
        </div>
    </div>
    <div style="height: 2000px; background-color: red;">
        부모영역이 아닌 다른 영역
    </div>
</body>


<script>
    window.addEventListener("scroll", () => {
        if (window.scrollY > 360) {
            document.querySelector("#course-nav").className = "course-nav";
        } else {
            document.querySelector("#course-nav").classList.remove("course-nav");
        }
    })
</script>
</html>