<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>회사명</title>
  <link rel="stylesheet" href="/jobposting/css/JobPostingDetail.css">
  <script src="https://kit.fontawesome.com/f5db63554f.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/common/css/nav.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
</head>
<body>
<nav th:replace="~{common/nav.html :: nav}"></nav>
<div class="main-body">
  <div class="jobposting-container">
    <h2>🔍 회사 소개</h2>
    <table class="jobposting-detail">
      <tr>
        <td>회사명</td>
        <td th:text="${resp.corpNm}"></td>
        <td>대표자명</td>
        <td th:text="${resp.reperNm}"></td>
      </tr>
      <tr>
        <td>연매출액</td>
        <td th:text="${resp.yrSalesAmt}"></td>
        <td>사원수</td>
        <td th:text="${resp.totPsncnt}"></td>
      </tr>
      <tr>
        <td>업종</td>
        <td th:text="${resp.indTpCdNm}"></td>
        <td>회사규모</td>
        <td th:text="${resp.busiSize}"></td>
      </tr>
      <tr>
        <td>주소</td>
        <td colspan="3" th:text="${resp.corpAddr}"></td>
      </tr>
    </table>
    <h2>📌 모집 요강</h2>
    <table class="jobposting-detail">
      <tr>
        <td>관련 직종</td>
        <td th:text="${resp.relJobsNm}"></td>
        <td>경력 조건</td>
        <td th:text="${resp.enterTpNm}"></td>
      </tr>
      <tr>
        <td>고용 형태</td>
        <td colspan="3" th:text="${resp.empTpNm}"></td>
      </tr>
      <tr>
        <td>채용 내용</td>
        <td colspan="3" th:utext="${resp.jobCont}"></td>
      </tr>
      <tr>
        <td>모집 인원</td>
        <td th:text="${resp.collectPsncnt}"></td>
        <td>학력</td>
        <td th:text="${resp.eduNm}"></td>
      </tr>
      <tr>
        <td>급여</td>
        <td colspan="3" th:text="${resp.salTpNm}"></td>
      </tr>
      <tr>
        <td>전형 방법</td>
        <td th:text="${resp.selMthd}"></td>
        <td>접수 방법</td>
        <td th:text="${resp.rcptMthd}"></td>
      </tr>
      <tr>
        <td>제출 서류</td>
        <td colspan="3" th:text="${resp.submitDoc}"></td>
      </tr>
    </table>
    <h2>⭐근무 환경 및 복리후생</h2>
    <table class="jobposting-detail">
      <tr>
        <td>근무지 주소</td>
        <td colspan="3" th:text="${resp.workRegion}"></td>
      </tr>
      <tr>
        <td>근무 형태</td>
        <td colspan="3" th:text="${resp.workdayWorkhrCont}"></td>
      </tr>
      <tr>
      <tr>
        <td>복리후생</td>
        <td colspan="3" th:text="${resp.retirepay}"></td>
      </tr>
      <tr>
        <td>기타</td>
        <td colspan="3" th:text="${resp.etcWelfare}"></td>
      </tr>
    </table>
    <button id="redirectBtn" onclick="redirect()">채용정보 제공사이트로 이동</button>
  </div>
</div>
<script th:inline="javascript">
  let redirect = () =>{
    let link = [[${resp.dtlRecrContUrl}]];
    window.open(link);
  }
</script>
<script src="/common/js/nav.js"></script>
</body>
</html>