<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <input type="text" id="msg">
    <button id="button-send">전송</button>
</body>

<script th:inline="javascript">

    const username = "회원";
    console.log(username);

    document.querySelector("#button-send").addEventListener("click", ()=>{
        send();
    });

    // 1. WebSocket 생성
    const websocket = new WebSocket("ws://localhost:9999/ws/chat");
    websocket.onmessage = onMessage; // 소켓이 메시지를 받을 때
    websocket.onopen = onOpen;      // 소켓이 생성될 때 (클라이언트 접속)
    websocket.onclose = onClose;    // 소켓이 닫힐 때 (클라이언트 접속 해제)

    // 메시지 전송
    function send(){
        let msg = document.querySelector("#msg").value;
        websocket.send(username + ": " + msg);
        msg = '';
    }

    // 채팅방에서 나갔을 때
    function onClose(evt){
        var str = username + ": 님이 방을 나가셨습니다.";
        websocket.send(str);
    }

    // 채팅방에 들어왔을 때
    function onOpen(evt){
        var str = username + ": 님이 입장하셨습니다.";
        websocket.send(str);
    }

    // 메시지 수신인듯
    function onMessage(msg){
        var data = msg.data;
        var sessionId = null;
        // 데이터를 보낸 사람
        var message = null;
        var arr = data.split(":");
        for (var i = 0; i<arr.length; i++){
            console.log('arr[' + i + ']: ' + arr[i]);
        }

        var cur_session = username;

        // 현재 세션에 로그인한 사람
        console.log("cur_session : " + cur_session);
        sessionId = arr[0];
        message = arr[1];

        console.log("sessionID : " + sessionId);
        console.log("cur_session : " + cur_session);

        //로그인 한 클라이언트와 타 클라이언트를 분류하기 위함
        // if(sessionId == cur_session){
        //     var str = "<div class='col-6'>";
        //     str += "<div class='alert alert-secondary'>";
        //     str += "<b>" + sessionId + " : " + message + "</b>";
        //     str += "</div></div>";
        //     $("#msgArea").append(str);
        // }
        // else{
        //     var str = "<div class='col-6'>";
        //     str += "<div class='alert alert-warning'>";
        //     str += "<b>" + sessionId + " : " + message + "</b>";
        //     str += "</div></div>";
        //     $("#msgArea").append(str);
        // }
    }

</script>
</html>