<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://kit.fontawesome.com/f5db63554f.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/common/css/nav.css">
    <link rel="stylesheet" href="/common/css/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
</head>
<body>
<nav th:replace="~{common/nav.html :: nav}"></nav>
<main>
    <div class="swipe-box">
        <div class="swipe-nav">
                <span>
                    <span id="swipeNavIndex"></span>
                    <a id="prev-swipe">&lt;</a>
                    <a id="next-swipe">&gt;</a>
                    <a href="" id="swipeNavAction" class="action"></a>
                </span>
        </div>
        <a href="">
            <div class="pre-end" id="preEnd">
                <img src="/common/img/web.png" alt="">
            </div>
        </a>
        <a href="">
            <div class="first-page" id="firstPage">
                <img src="/common/img/mobile.png" alt="">
            </div>
        </a>
        <a href="">
            <div class="swipe-img-box one">
                <img src="/common/img/mobile.png" alt="">
            </div>
        </a>
        <a href="">
            <div class="swipe-img-box two">
                <img src="/common/img/PC_Page.png" alt="">
            </div>
        </a>
        <a href="">
            <div class="swipe-img-box three">
                <img src="/common/img/responsiveweb.jpeg" alt="">
            </div>
        </a>
        <a href="">
            <div class="swipe-img-box four">
                <img src="/common/img/secure_coding.jpg" alt="">
            </div>
        </a>
        <a href="">
            <div class="swipe-img-box five">
                <img src=/common/img"/web.png" alt="">
            </div>
        </a>
        <a href="">
            <div class="end-page" id="endPage">
                <img src="/common/img/web.png" alt="">
            </div>
        </a>
        <a href="">
            <div class="next-first" id="nextFirst">
                <img src="/common/img/mobile.png" alt="">
            </div>
        </a>
    </div>
    <div class="recommand-list-box">
        <a th:each="job : ${jList}" th:href="@{/explore/detail(jobcode=${job.getJobId()})}" class="job-category-link">
            <div class="job-category">
                <div>
                    <h1 th:text="${job.getJobName()}"></h1>
                    <h2 th:text="${job.getWork()}"></h2>
                    <span class="recommand-detail">더 알아보기 </span>
                </div>
                <div class="job-subject">
                    <div><span>평균연봉</span><span class="job-subject-icon"><i class="fa-solid fa-coins yellow"></i></span><span th:text="${job.getSalary()}"></span></div>
                    <div><span>사회공헌</span><span class="job-subject-icon"><i class="fa-solid fa-handshake-angle skin"></i></span><span th:text="${job.getSocial()}"></span></div>
                    <div><span>워라밸</span><span class="job-subject-icon"><i class="fa-solid fa-scale-balanced brown"></i></span><span th:text="${job.getWorkLifeBalance()}"></span></div>
                </div>
            </div>
        </a>
    </div>
    <div class="job-posting"></div>
    <div class="board-list-container">
        <div class="board-list-box">
            <div class="board-list-title">
                <a href="">자유게시판</a>
            </div>
            <div class="board-content">
                <div>
                    <span class="board-writer">설석현</span>
                    <span class="board-like">52</span>
                    <span class="board-time">2020/03/28</span>
                    <span class="board-comment">3</span>
                </div>
                <div class="board-title">
                    <a href="#">하라라라라라라라라라라라</a>
                </div>
            </div>
            <div class="board-content">
                <div>
                    <span class="board-writer">설석현</span>
                    <span class="board-like">52</span>
                    <span class="board-time">2020/03/28</span>
                    <span class="board-comment">3</span>
                </div>
                <div class="board-title">
                    <a href="#">하라라라라라라라라라라라</a>
                </div>
            </div>
            <div class="board-content">
                <div>
                    <span class="board-writer">설석현</span>
                    <span class="board-like">52</span>
                    <span class="board-time">2020/03/28</span>
                    <span class="board-comment">3</span>
                </div>
                <div class="board-title">
                    <a href="#">하라라라라라라라라라라라</a>
                </div>
            </div>
            <div class="board-content">
                <div>
                    <span class="board-writer">설석현</span>
                    <span class="board-like">52</span>
                    <span class="board-time">2020/03/28</span>
                    <span class="board-comment">3</span>
                </div>
                <div class="board-title">
                    <a href="#">하라라라라라라라라라라라</a>
                </div>
            </div>
            <div class="board-content">
                <div>
                    <span class="board-writer">설석현</span>
                    <span class="board-like">52</span>
                    <span class="board-time">2020/03/28</span>
                    <span class="board-comment">3</span>
                </div>
                <div class="board-title">
                    <a href="#">하라라라라라라라라라라라</a>
                </div>
            </div>
        </div>
        <div class="board-list-box">
            <div class="board-list-title">
                <a href="">질문게시판</a>
            </div>
            <div class="board-content">
                <div class="board-content">
                    <div>
                        <span class="board-writer">설석현</span>
                        <span class="board-time">2020/03/28</span>
                        <span class="board-comment">3</span>
                    </div>
                    <div class="board-title">
                        <a href="#">하라라라라라라라라라라라</a>
                    </div>
                </div>
            </div>
            <div class="board-content">
                <div class="board-content">
                    <div>
                        <span class="board-writer">설석현</span>
                        <span class="board-time">2020/03/28</span>
                        <span class="board-comment">3</span>
                    </div>
                    <div class="board-title">
                        <a href="#">하라라라라라라라라라라라</a>
                    </div>
                </div>
            </div>
            <div class="board-content">
                <div class="board-content">
                    <div>
                        <span class="board-writer">설석현</span>
                        <span class="board-time">2020/03/28</span>
                        <span class="board-comment">3</span>
                    </div>
                    <div class="board-title">
                        <a href="#">하라라라라라라라라라라라</a>
                    </div>
                </div>
            </div>
            <div class="board-content">
                <div class="board-content">
                    <div>
                        <span class="board-writer">설석현</span>
                        <span class="board-time">2020/03/28</span>
                        <span class="board-comment">3</span>
                    </div>
                    <div class="board-title">
                        <a href="#">하라라라라라라라라라라라</a>
                    </div>
                </div>
            </div>
            <div class="board-content">
                <div class="board-content">
                    <div>
                        <span class="board-writer">설석현</span>
                        <span class="board-time">2020/03/28</span>
                        <span class="board-comment">3</span>
                    </div>
                    <div class="board-title">
                        <a href="#">하라라라라라라라라라라라</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="board-list-box">
            <div class="board-list-title">
                <a href="">WEEKLY BEST</a>
            </div>
            <div class="board-content">
                <div class="board-content">
                    <div>
                        <span class="board-writer">설석현</span>
                        <span class="board-time">2020/03/28</span>
                        <span class="board-comment">3</span>
                    </div>
                    <div class="board-title">
                        <a href="#">하라라라라라라라라라라라</a>
                    </div>
                </div>
                <div class="board-content">
                    <div>
                        <span class="board-writer">설석현</span>
                        <span class="board-time">2020/03/28</span>
                        <span class="board-comment">3</span>
                    </div>
                    <div class="board-title">
                        <a href="#">하라라라라라라라라라라라</a>
                    </div>
                </div>
                <div class="board-content">
                    <div>
                        <span class="board-writer">설석현</span>
                        <span class="board-like">52</span>
                        <span class="board-time">2020/03/28</span>
                        <span class="board-comment">3</span>
                    </div>
                    <div class="board-title">
                        <a href="#">하라라라라라라라라라라라</a>
                    </div>
                </div>
                <div class="board-content">
                    <div>
                        <span class="board-writer">설석현</span>
                        <span class="board-like">52</span>
                        <span class="board-time">2020/03/28</span>
                        <span class="board-comment">3</span>
                    </div>
                    <div class="board-title">
                        <a href="#">하라라라라라라라라라라라</a>
                    </div>
                </div>
                <div class="board-content">
                    <div>
                        <span class="board-writer">설석현</span>
                        <span class="board-like">52</span>
                        <span class="board-time">2020/03/28</span>
                        <span class="board-comment">3</span>
                    </div>
                    <div class="board-title">
                        <a href="#">하라라라라라라라라라라라</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="board-list-box">
            <div class="board-list-title">
                <a href="/notice/list"><b>공지사항</b></a>
            </div>
            <div class="board-content" th:each="notice : ${nList}">
                <div class="board-content" >
                    <div>
                        <span class="board-writer" th:text="${notice.getUser().getName()}">설석현</span>
                        <span class="board-time" th:text="${notice.getUpdatedAt()}">2020/03/28</span>
                    </div>
                    <div class="board-title">
                        <a th:href="@{/notice/detail(noticeNo=${notice.getId()})}"><span th:text="${notice.getTitle()}">하라라라라라라라라라라라</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="review-box">
        <h1>수 많은 강의 후기가 기다리고 있어요!</h1>
        <div class="review-swipe-box" id="reviewSwipeBox">
            <div class="review-content-box">1</div>
            <div class="review-content-box">2</div>
            <div class="review-content-box">3</div>
            <div class="review-content-box">4</div>
            <div class="review-content-box">5</div>
            <div class="review-content-box">6</div>
            <div class="review-content-box">7</div>
            <div class="review-content-box">8</div>
            <div class="review-content-box">9</div>
            <div class="review-content-box">10</div>
            <div class="review-content-box">11</div>
            <div class="review-content-box">12</div>
            <div class="review-content-box">13</div>
        </div>
        <div class="review-btn-area">
            <a href="">다양한 강의 보러 가기</a>
        </div>
    </div>
</main>
<script src="/common/js/nav.js"></script>
<script src="/common/js/main.js"></script>
</body>
</html>