@font-face {
    font-family: 'GowunBatang-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunBatang-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
    font-family: 'GowunBatang-Regular';
    margin: 0;
}
/* 네비게이터 및 배경색 */
body {
    margin: 0;
    padding: 0;
    background-color: #eeeeee;
    display: flex;
}

.side-nav {
    display: flex;
    flex-direction: column;
    background-color: #191b1f;
    width: 230px;
    padding-top: 5vh;
}

.menu {
    margin-left: 15px;
    font-size: 120%;
}

ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    width: 100%;
}

a {
    text-decoration: none;
    color: #e7e7e7;
    padding: 0 20px;
    border-bottom: 1px solid rgb(97, 94, 94);
}

a:hover {
    background-color: rgb(19, 18, 18);
    background-color: rgb(26, 109, 255);
    color: #e7e7e7;
}

.nav-li{
    list-style-type: none;
    display: flex;
    align-items: center;
    margin: 15px auto;
}

header {
    font-size: 25px;
    margin: 0;
    padding: 10px;
    border-bottom: 1px solid rgb(97, 94, 94);
    text-align: center;
    color: white;
    user-select: none;
}



/* 메인 컨텐츠 */
.main{
    background-color: white;
    width: 1000px;
    height: 100%;
    margin: 50px;
    box-shadow: 0px 5px 10px gray;
    display: flex;
    flex-direction: column;
    padding: 50px;
    margin: 0 auto;
    margin-top: 50px;
}
.main>h2{
    padding: 20px 0px 40px 0px;
}
.header-box{
    display: flex;
    margin-bottom: 20px;
}
.button-box{
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}
.strat-chatting-btn{
    width: 300px;
    font-size: 130%;
    background-color: #0090F0;
    padding: 5px 0px 5px 0px;
    margin-bottom: 40px;
    color: white;
    border: 1px solid #0090F0;
    border-radius: 15px;
    cursor: pointer;
    transition-property: border, background-color, color;
    transition-duration: 0.3s;
}
        .strat-chatting-btn:hover{
            border: 1px solid #0090F0;
            background-color: white;
            color: black;
        }
.close-chatting-btn{
    width: 300px;
    font-size: 130%;
    background-color: #d91616;
    padding: 5px 0px 5px 0px;
    color: white;
    border: 1px solid #d91616;
    border-radius: 15px;
    cursor: pointer;
    transition-property: border, background-color, color;
    transition-duration: 0.3s;
}
        .close-chatting-btn:hover{
            border: 1px solid #d91616;
            background-color: white;
            color: black;
        }
.chatting-box{
    display: flex;
    background-color: rgb(248, 244, 244);
    border-radius: 30px;
}
.client-list-box-initial{
    border-right: 1px dotted #ccc;
    width: 1200px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.client-list-box{
    border-right: 1px dotted #ccc;
    width: 1200px;
    height: 500px;
    /*display: flex;*/
    display: none;
    flex-direction: column;
    padding: 20px;
    overflow-y: scroll;
    overflow-x: hidden;
}

        .client{
            display: flex;
            padding: 10px 0px 0px 10px;
            border-bottom: 1px solid #ccc;
            cursor: pointer;
        }
        .client-left{
            margin-right: 20px;
        }
                .client-img{
                    font-size: 130%;
                    border: 1px solid black;
                    border-radius: 50%;
                    padding: 5px;
                    position: relative;
                    top: 5px;
                }
        .client-middle{
            display: flex;
            flex-direction: column;
            width: 300px;
        }
        .client-right{
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 80%;
            width: 200px;
        }
.message-box-initial{
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.mesage-box-initial-img{
    width: 100px;
    height: 70px;
}
.message-box{
    width: 100%;
    height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
    display: none;
    flex-direction: column;
    background-color: white;
}
        .user-info{
            background-color: rgba(0, 0, 0, 0.1);
            width: 538px;
            height: 100px;
            padding: 10px;
        }
        .client-msg-box{
            display: flex;
            width: 100%;
            margin: 10px 0px 10px 0px;
        }
            .client-msg{
                max-width: 250px;
                padding: 15px;
                margin-left: 20px;
                border-radius: 20px;
                background-color: #f2f2f2;
                border: none;
            }
            .client-msg-time{
                align-self: flex-end;
                color: #444444;
                font-size: 90%;
            }
        .admin-msg-box{
            display: flex;
            flex-direction: row-reverse;
            width: 100%;
            margin: 10px 0px 10px 0px;
        }
            .admin-msg{
                padding: 15px;
                max-width: 250px;
                border-radius: 20px;
                margin-right: 20px;
                border: none;
                background-color: #0090F0;
                color: white;
            }
            .admin-msg-time{
                align-self: flex-end;
                justify-self: flex-end;
                text-align: end;
                color: #444444;
                font-size: 90%;
            }
.input-box{
    width: 390px;
    height: 25px;
    padding: 3px 10px 3px 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    resize: none;
    font-size: 1em;
    position: relative;
    top: -37px;
    left: 570px;
    display: none;
}
        .input-box:focus{
            outline: none;
        }

.client-list-box-alert-msg{
    color: #fd4848;
}
.client-list-box-alert-msg2{
    color: #4d4df5;
}

.close-msg-box{
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-top: 10px;
    border-top: 1px dotted #ccc;
    border-bottom: 1px dotted #ccc;
}
        .close-msg p:nth-child(1){
            font-size: 85%;
        }
        .close-msg p:nth-child(2){
            font-weight: bolder;
            font-size: 120%;
            text-align: center;
        }
.backup{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
    #backup-btn{
        border: 1px solid #f13b3b;
        border-radius: 20px;
        background-color: #f13b3b;
        color: white;
        cursor: pointer;
        margin-right: 20px;
        padding: 3px 10px 3px 10px;
        font-size: 100%;
    }
    #delete-btn{
        font-size: 100%;
        cursor: pointer;
        border: 1px solid #f13b3b;
        border-radius: 20px;
        background-color: white;
        color: #f13b3b;
        padding: 3px 10px 3px 10px;
    }